{% extends 'DHGcoreBundle:Modal:modalView.html.twig' %}
{% block header %}
    <span class="h2">
        {%- if content is dhg_maquinaria_accion_matenimiento %}Mantenimiento
            {% elseif content is dhg_maquinaria_accion_repostaje %}
            Repostaje
            {% else %}Otro gasto
        {% endif -%}: {{ content.maquinaria.nombre|default("-") }}
    </span>
{% endblock %}
{% block content %}
    {%- set precioProductos = 0 -%}
    {% if content is not dhg_maquinaria_accion_repostaje%}
        {% for prodUtilizado in content.movimientos %} 
            {%- set precioProductos = precioProductos + prodUtilizado.precioUnidad|default(0)* prodUtilizado.cantidad|default(0) -%}
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="well m-t">
                    <div class="row">
                        <div class="col-lg-4">
                            <h1>
                                <i class="fa fa-{%if content is dhg_maquinaria_accion_repostaje %}dashboard{% else %}wrench{% endif %} fa-4x"></i>
                            </h1>
                        </div>
                        <div class="col-lg-8">
                            <p>
                                <b>Fecha:</b> {{content.fecha|date('d/m/Y')}}<br>
                                <b>Maquinaria:</b> {{ view.link(content.maquinaria.id,"dhg_maquinaria_maquinariaView",content.maquinaria.nombre|default("-") ) }}<br>
                                <b>Odometro:</b>  {{content.odometro|default("-")}} {% if content.maquinaria.odometroKm %}Kms{% else %}Hrs{% endif %}<br>
                                {% if content is dhg_maquinaria_accion_repostaje %}
                                    {% if content.interno %}
                                        <b>Tipo de Repostaje:</b>  Interno<br>
                                        <b>Combustible:</b> {{ view.link(content.movimiento.producto.id,"dhg_inventario_productoView",content.movimiento.producto.nombre|default("-") ) }}<br>
                                        <b>Precio:</b>  ${{content.movimiento.precioUnidad|default("0")}}<br>
                                        <b>Cantidad:</b>  {{content.movimiento.cantidad|default("0")}} L<br>
                                        <b>Almacen:</b>  {{content.movimiento.Almacen|default("-")}}<br>
                                        <b>Costo:</b>  ${{content.costo|default("0")}}<br>
                                    {% else %}
                                        <b>Tipo de Repostaje:</b>  Externo<br>
                                        <b>Combustible:</b>  {% if content.combustible %}{{ view.link(content.combustible.id,"dhg_inventario_productoView",content.combustible.nombre|default("-") ) }}{% else %}-{% endif %}<br>
                                        <b>Proveedor:</b>{{ view.link(content.proveedor.id,"dhg_contactos_cliProView",content.proveedor.nombre|default("-") ) }}<br>
                                        <b>Precio:</b>  ${{content.precio|default("0")}}<br>
                                        <b>Cantidad:</b>  {{content.cantidad|default("0")}} L<br>
                                        <b>Costo:</b>  ${{content.costo|default("0")}}<br>
                                    {% endif %}
                                {% else %}
                                    <b>Mecanico:</b> {% if content.mecanico %}{{ view.link(content.mecanico.id,"dhg_contactos_mecanicoView",content.mecanico.nombre|default("-") ) }}{% else %}-{% endif %}<br>

                                    <div class="row">
                                        <div class="col-xs-2"><h5><br></h5>
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="col-xs-6">
                                            <h4>Mano de Obra: <span class="pull-right">$ {{ content.costoManoobra|default(0) }}</span><br>
                                                Productos: <span class="pull-right">$ {{ precioProductos }}</span>
                                                <hr style="margin-bottom: -16px !important; margin-top:5px !important;margin-left: -5px !important;margin-right: -5px !important; border-top: 2px solid;" />
                                                <h1>
                                                    <span class="pull-right">$ {{ content.costoManoobra + precioProductos }}</span>
                                                </h1>
                                            </h4>
                                        </div>
                                    </div>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <b>Detalles:</b> <pre> {{ content.detalle|default("") }}</pre><br>
                        </div>
                    </div>
                </div>
                {% if content is not dhg_maquinaria_accion_repostaje and content.movimientos is not empty %}
                    <h3>Productos Utilizados:</h3><hr>
                    <div class="table-responsive">
                        <table id="modal-action-table" class="table">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Almacen</th>
                                    <th>Precio unidad</th>
                                    <th>Precio Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prodUtilizado in content.movimientos %} 
                                    <tr>
                                        <td>{{ view.link(prodUtilizado.producto.id,"dhg_inventario_productoView",prodUtilizado.producto.nombre|default("-") ) }}</td>
                                        <td>{{prodUtilizado.cantidad|default("-")}} {{prodUtilizado.producto.unidad.abbr|default("-")}}</td>
                                        <td>{{prodUtilizado.Almacen|default("-")}}</td>
                                        <td>$ {{prodUtilizado.precioUnidad|default("-")}}</td>
                                        <td>$ {{ prodUtilizado.precioUnidad|default(0)* prodUtilizado.cantidad|default(0) }}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <td colspan="3"></td>
                                <td class="text-right">Total</td>
                                <td>$ {{ precioProductos }}</td>
                            </tfoot>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


