{% extends 'DHGcoreBundle:Modal:modalView.html.twig' %}

{% block header %}
    <span class="h2">Maquinaria: {{ content.nombre }}</span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="well m-t">
                    <div class="row">
                        <div class="col-md-4 qq">
                            
                            {% if content.imagen is not null %}
                                <img src="{{content.imagen.getWebPath}}" class="img-thumbnail img-responsive" alt="{{content.imagen.description}}">
                            {% else %}
                                <img src="/no-image.png" class="img-thumbnail img-responsive">
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12"><br>
                                    {% if content.archivos is not empty -%}
                                        Archivos: 
                                        {%- for archivo in content.archivos -%}
                                            <li><a href="{{archivo.getWebPath}}" target="_blank">{{archivo.description}}</a></li>
                                        {%- endfor -%}
                                    {%- endif %}<br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Clasificacion:</b> {{ content.clasificacion.nombre }}<br>
                                <b>Fecha de Compra:</b> {% if content.fechaCompra is not null %}{{content.fechaCompra|date('d/m/Y')}} {% endif %}<br>
                                <b>Año:</b> {{content.anio|date('Y')}}<br>
                                <b>Fabricante:</b> {{ content.fabricante|default("-") }}<br>
                                <b>Modelo:</b> {{ content.modelo|default("-") }}<br>
                                <b>Dominio:</b> {{ content.dominio|default("-") }}<br>
                                <b>Motor:</b> {% if content.conMotor %} SI {% else %} NO {% endif %}<br>
                                <b>Odometro:</b> {{ content.odometro|default("-") }} {% if content.odometroKm %} KMs {% else %} Hrs {% endif %}<br>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <b>Detalles:</b>
                            <pre>{{ content.detalle }}</pre><br>
                        </div>
                    </div>
                </div>
                <div>
                    {% if content.respuestos is not empty %}
                        <h3>Productos Asociados:</h3><hr>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Clasificacion</th>
                                        <th>Modelo</th>
                                        <th>Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for repuesto in content.respuestos %}
                                        <tr>
                                            <td>{{ view.link(repuesto.id,"dhg_inventario_productoView",repuesto.nombre|default("-") ) }}</td>
                                            <td>{{repuesto.clasificacion}}</td>
                                            <td>{{repuesto.modelo}}</td>
                                            <td>{{repuesto.detalle}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


