<div class="wrapper h4">
	<div class="well m-t">
		<p>
			<b>Nombre: </b>{{ content.nombre|default("-") }}<br>
			<b>Fecha de Compra: </b>{{ content.fechaCompra|date('d/m/Y') }}<br>
			<b>Modelo: </b>{{ content.modelo|default("-") }}<br>
			<b>Fabricante: </b>{{ content.fabdicante|default("-") }}<br>
			<b>Año: </b>{{ content.anio|date('Y') }}<br>
			<b>Dominio: </b>{{ content.dominio|default("-") }}<br>
			<b>Motor: </b>{% if content.conMotor %}Si{% else %}No{% endif %}<br>
			<b>Odometro: </b>{{ content.odometro|default("0") }}Kms<br>
		</p>
		<div class="row">
			<div class="col-lg-4">
				<strong>Productos Asociados: </strong>
			 </div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
		        			<tr>
		            			<th>Nombre</th>
		            			<th>Clasificacion</th>
		            			<th>Modelo</th>
		        			</tr>
		    			</thead>
		    			<tbody>
		    				{% for repuesto in content.respuestos %}
			    				<tr>
			            			<td>{{repuesto.nombre}}</td>
			            			<td>{{repuesto.clasificacion}}</td>
			            			<td>{{repuesto.modelo}}</td>
			        			</tr>
							{% endfor %}
		    			</tbody>
					</table>
			    </div>
			</div>
		</div>	

		<div class="row">
			<strong>Archivos: </strong>
		</div>
        <ul>
			{%- for archivo in content.archivos -%}
                <li><a href="{{archivo.getWebPath}}">{{archivo.path}}</a>  <a data-title="{{archivo.description}}" data-placement="top" data-toggle="tooltip" href="#" data-original-title="{{archivo.description}}" title="{{archivo.description}}"><span class="glyphicon glyphicon-info-sign"></span></a></li>
			{%- endfor -%}
        </ul>
		<pre>
			{{- content.detalles|default("") -}}
		</pre>
	</div>
</div>




