
{% macro referencia(field,bundle_name) %}
        ->add('{{ field.fieldName }}', 'entity', array(
            'label' => '{{ field.fieldName}}',
            'class' => '{{ field.targetEntity }}',
            'query_builder' => function(EntityRepository $er) {
                            return $er->createQueryBuilder('m')
                                ->orderBy('m.nombre', 'ASC');
            },
            {{ _self.requiredJ(field) }},
            'attr' => array(),
            'widget_addon_append' => array(
                'form_ajax'=>'dhg_{{ bundle_name|lower }}_{{ field.targetEntity|split("\\")|last|lower }}Create',
            ),
        ))

{% endmacro %}

{% macro string(field,bundle_name) %}
        ->add('{{ field.fieldName}}', 'text', array(
            'label' => "{{ field.fieldName }}",
            'required' => {{ _self.required(field) }},
            'attr' => array(
                'placeholder' => "{{ field.fieldName|title }}",
            ),
            'constraints' =>  new NotBlank(array('message'=>'El campo es obligatorio')),
        ))
{% endmacro %}
{% macro integer(field,bundle_name) %}
        ->add('{{ field.fieldName}}', 'number', array(
            'label' => "{{ field.fieldName }}",
            'required' => {{ _self.required(field) }},
            'attr' => array(
                'placeholder' => "0",
            ),
            'constraints' =>  new  GreaterThanOrEqual(array('value'=>0,'message'=>"La cantidad debe ser un numero positivo")),
        ))
{% endmacro %}


{% macro textarea(field,bundle_name) %}
        ->add('{{ field.fieldName}}', 'textarea', array(
            'label' => "{{ field.fieldName }}",
            'required' => {{ _self.required(field) }},
        ))
{% endmacro %}
{% macro date(field,bundle_name) %}
        ->add('{{ field.fieldName}}','date',array(
            'widget' => 'single_text',
            'required' => {{ _self.required(field) }},
            'constraints' =>  new NotBlank(array('message'=>'Debe ingresar una fecha')),
        ))
{% endmacro %}

{% macro boolean(field,bundle_name) %}
        ->add('{{ field.fieldName}}', 'checkbox', array(
            'label'  => "{{ field.fieldName }}",
            'widget_checkbox_label' => "label",
            'required' => false,
            'help_label_popover'=>array('title'=>"{{ field.fieldName|title }}",'content'=>"-"),
        ))
{% endmacro %}

{% macro required(field) -%}
    {% if field.nullable  %}false{% else %}true{% endif %}
{%- endmacro %}
{% macro requiredJ(field) -%}
    {% if (field.joinColumns is defined and (field.joinColumns|first).nullable) -%}
            'empty_value' => 'Seleccione un valor',
            'required' => false
        {%- else -%}
            'constraints' =>  new NotBlank(array('message'=>'Es necesario seleccionar un valor')),
            'required' => true
        {% endif %}
{%- endmacro %}