{% import "/Form/FormField.php.twig" as formField %}
<?php
namespace {{ namespace }}\Form{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

{% block use_statements %}
use Symfony\Component\Form\AbstractType;
use Symfony\Component\Form\FormBuilderInterface;
use Symfony\Component\OptionsResolver\OptionsResolverInterface;
use Symfony\Component\Validator\Constraints\NotBlank;
use Symfony\Component\Validator\Constraints\GreaterThanOrEqual;
use Doctrine\ORM\EntityRepository;
use Symfony\Component\Form\FormEvent;
use Symfony\Component\Form\FormEvents;
use Symfony\Component\Form\FormError;
{% endblock use_statements %}

{% block class_definition %}
class Form{{ entity_class }} extends AbstractType
{% endblock class_definition %}
{
{% block class_body %}


    {% if fields|length > 0 %}
    /**
     * @param FormBuilderInterface $builder
     * @param array $options
     */
    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $builder
        
        {%- for field in metadata.fieldMappings if field.fieldName not in ["creado","id","lastUpdate","eliminado"] -%}
            {%- if field.type in ["string"] -%}
                {{ formField.string(field,bundle_name) }}
            {%- endif -%}
            {%- if field.type in ["integer","decimal"] -%}
                {{ formField.integer(field,bundle_name) }}
            {%- endif -%}
            {%- if field.type == "text" -%}
                {{ formField.textarea(field,bundle_name) }}
            {%- endif %}
            {%- if field.type == "date" -%}
                {{ formField.date(field,bundle_name) }}
            {%- endif -%}
            {%- if field.type == "boolean" -%}
                {{ formField.boolean(field,bundle_name) }}
            {%- endif -%}
        {% endfor %}
        {%- for field in metadata.associationMappings if field.fieldName not in ["usuario"] -%}

            {{ formField.referencia(field,bundle_name) }}

        {%- endfor %}
        ;
    }
    {% endif %}

    /**
     * @param OptionsResolverInterface $resolver
     */
    public function setDefaultOptions(OptionsResolverInterface $resolver)
    {
        $resolver->setDefaults(array(
            'data_class' => '{{ namespace }}\Entity{{ entity_namespace ? '\\' ~ entity_namespace : '' }}\{{ entity_class }}'
        ));
    }

    /**
     * @return string
     */
    public function getName()
    {
        return '{{ form_type_name }}';
    }
{% endblock class_body %}
}
