{{ "{% set options = [{id:entity.id,tipo:'ver',path:path('dhg_"}}{{ bundle_name|lower }}_{{ route_prefix }}View')}]{{" %}" }}
{{ "{% if is_granted(constant('DHG\\"}}{{ bundle_name }}Bundle\\Security\\{{ bundle_name }}{{"Permissions::GESTIONAR"}}{{ route_prefix|upper }}{{"'), entity)  %}
    {% set options = options|merge([
        {id:entity.id,tipo:'borrar'},
        {path:path('dhg_" }}{{ bundle_name|lower }}_{{ route_prefix }}Edit'),id:entity.id,tipo:'editar'}
        ])
    {{ "%}
{% endif %}
{% use 'DHGcoreBundle:Datatable:cellActionTemplate.html.twig' %}  
{{ block('main_content') }}" }}