
{% set groups = grupos|join('\",\"') %}
{% set grupitos = grupos|join('<br>') %}
{% set grupxport = grupos|join(';') -%}
{%- if (grupos|length)>0 -%}
	{% if (grupos|length)>5 %}
    	<button data-export="({{ grupxport }})" data-filter='["{{groups}}"]' class="btn btn-xs btn-white data-hidden" data-toggle="popover" data-html="true" data-placement="top" data-content="{{grupitos}}" title="" data-original-title="<button type=&quot;button&quot; class=&quot;close pull-right&quot; data-dismiss=&quot;popover&quot;>×</button>Grupos">Mostrar</button>
    	<span hidden>{{groups}}</span>
	{% else %}
    	<span data-export="({{ grupxport }})" data-filter='["{{groups}}"]'>{{grupitos|raw}}</span>
    {% endif %}
{%- else -%}
    Ninguno
{%- endif %}
