{% block main_content %}

    {% if options is not empty %}
        <div class="btn-group" data-export="" data-filter='["accion"]'><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a><ul class="dropdown-menu pull-right">
            {% block list %}
                {% for opcion in options %}
                    {% set actualItem = opcion %}
                    {{ block ('item') }}
                {% endfor %}
            {% endblock %}
        </ul></div>
    {% else %}
        <i class="fa fa-ban" data-export="" data-filter='["accion"]'></i>
    {% endif %}

{% endblock %}

{% block item %}
    {% if actualItem is not empty %}
        <li>
            {% if actualItem.tipo == "borrar" %}
                {{ block('borrar') }}
            {% elseif actualItem.tipo == "editar" %}
                {{ block('editar') }}
            {% elseif actualItem.tipo == "ver" %} 
                {{ block('ver') }}
            {% elseif actualItem.tipo == "otro" %}
                {{ block('otro') }}
            {% elseif actualItem.tipo == "custom" %} 
                {{ block('custom') }}
            {% endif %}
        </li>
    {% endif %}
{% endblock %}

{% block borrar %}
    <a href="#" onclick="openModalRemove('{{ actualItem.id }}');return false;">{{ actualItem.text|default("Borrar") }}</a>
{% endblock %}
{% block editar %}
    <a href="#" onclick="openModalEdit('{{ actualItem.path }}/{{ actualItem.id }}');return false;">{{ actualItem.text|default("Editar") }}</a>
{% endblock %}
{% block ver %}
    <a href="#" onclick="openModalView('{{ actualItem.path }}/{{ actualItem.id }}');return false;">{{ actualItem.text|default("Ver") }}</a>
{% endblock %}
{% block otro %}
    <a href="#" onclick="{{ actualItem.onclick }}">{{ actualItem.text }}</a>
{% endblock %}
{% block custom %}
   {{ actualItem.content }}
{% endblock %}

