{% if largo is not defined%}
	{% set largo = 200 %}
{% endif %}
{% if text|length > largo %}
	<div class="data-hidden">
	 	{{text|raw|slice(0, largo) ~ '...' }}
	<button class="btn btn-sm" data-toggle="popover" data-html="true" data-placement="top" data-content="<pre>{{text}}</pre>" title="" data-original-title='<button type="button" class="close pull-right" data-dismiss="popover">&times;</button>{{titulo|default('Detalles')}}'><i class="fa fa-ellipsis-h"></i></button>
	</div>
	<span hidden>{{- text -}}</span>
{% else %}
 	{{ text |raw}}
{% endif %}
