{% set options = [] %}
{% if (view is defined) and (view) %}
	{% set options = [{id:entity.id,tipo:'ver',path:path('dhg_'~bundle|lower ~'_'~entityName|lower ~'View')}] %}
{% endif %}
{% if is_granted(constant('DHG\\'~ bundle  ~'Bundle\\Security\\'~ bundle  ~'Permissions::GESTIONAR'~ entityName|upper), entity)  %}
	{% if (entity.sistema is defined) and (entity.sistema) %}
	{% else %}
	    {% set options = options|merge([
	        {id:entity.id,tipo:'borrar'},
	        {path:path('dhg_'~ bundle|lower  ~'_'~ entityName|lower  ~'Edit'),id:entity.id,tipo:'editar'}
	        ])
	    %}
	{% endif %}
{% endif %}
{% use 'DHGcoreBundle:Datatable:cellActionTemplate.html.twig' %}  
{{ block('main_content') }}