
<div class="table-responsive">
  <table class="table table-striped m-b-none {{ params['table_class'] }}" id="{{ params['id'] }}">
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody ></tbody>
  </table>
</div>
