<div class="table-responsive">
    <table class=" {{ params['table_class'] }}" id="{{ params['id'] }}" style="width:100%;">
        <thead>
            <tr>
                {% for dataColumn in dataColumns %}
                    {% if dataColumn.sumColumn %}
                        <th class="sumable" data-col="{{dataColumn.Number}}">
                            {{ dataColumn.Name|trans }}
                            <br><span class="sumResult">Suma: 0<span>
                        </th>
                    {% else %}
                        <th >{{ dataColumn.Name|trans }}</th>
                    {% endif %}
                {% endfor %}
            </tr>

        </thead>
        <tbody></tbody>
    </table>
</div>
{% if modalConfirmID is defined %}
    <!--modalRemove-->
    <div class="modal fade" id="modal-{{modalConfirmID}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% block modalremovebody %}
                        {% include('DHGcoreBundle:Modal:modalConfirmAction.html.twig') %}
                    {% endblock %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--/modalRemove-->
{% endif %}

{% if modalEditID is defined %}
    <!--modalEdit-->
    <div class="container-form-block">
        <div class="modal fade" id="modal-{{modalEditID}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="{{modalEditID}}FormLocation"></div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <div class="div-for-ajax"></div>
    </div>
    <!--/modalEdit-->
{% endif %}

{% if modalViewID is defined %}
    <!--modalEdit-->
    <div class="modal fade" id="modal-{{modalViewID}}">
        <div class="modal-lg">
            <div id="{{modalViewID}}"class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--/modalEdit-->
{% endif %}