<div class="btn-group dropdown keep-inside-clicks-open ">
    <button class="btn btn-white dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="text">Ver</span>
        <i class="fa fa-eye"></i>
    </button>
    <div class="dropdown-menu">
        <li>
            <form action="#" class="form-inline">
                {% for column in dataColumns %}
                    {% if not column.canHidden %}
                    {% else %}
                        {% set active = "active" %}
                        {% if column.isHidden %}
                            {% set active = "" %}
                        {% else %}
                        {% endif %}
                        <div class="form-group">
                            <button class="badge btn btn-white {{ active }}  form-control" id="btn-{{ column.Number }}" href="#btn-{{ column.Number }}" data-toggle="button" onClick="toggleSelectedColumn({{ column.Number }},this,'{{ column.MetaName }}')">
                                <i class="fa fa-eye-slash fa-lg text"></i>
                                <span class="text">{{ column.Name|trans }}</span>
                                <i class="fa fa-eye text-active fa-lg text-success"></i>
                                <span class="text-active">{{ column.Name|trans }}</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </form>
        </li>
    </div>
</div>
<div class="btn-group dropdown keep-inside-clicks-open ">
    <button id="filter-activated-icon" class="btn btn-white dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="text">Filtros</span>
        <i class="fa fa-filter"></i>
    </button>
    <ul class="dropdown-menu">
        <li>
            <form action="#" class="form-inline">
                {% for column in dataColumns if column.canFilter %}

                    {% if column.isDateFilter == 0 %}
                        <div class="input-group">
                            <div class="" for="input_select_{{ column.Number }}">{{ column.Name|trans }}</div>
                            <input id="input_select_{{ column.Number }}" class="select2-tokenizer" placeholder="Seleccione columna"  onChange="filterByCol({{ column.Number }},false);" style="min-width: 300px;" >
                        </div>
                    {% else %}
                        <div class="input-group" id="Filter_Pane_{{ column.Number }}_Date">
                            <div class="" for="input_select_{{ column.Number }}">{{ column.Name|trans }}</div>
                            <div id="input_daterange_{{ column.Number }}" class="input-daterange input-group">
                                <input class="input-sm input-s form-control" placeholder="Desde" name="start" data-col="{{ column.Number }}" type="text">
                                <span class="input-group-addon"></span>
                                <input class="input-sm input-s form-control" placeholder="Hasta" name="end" data-col="{{ column.Number }}" type="text">
                            </div>
                        </div>  
                    {% endif %}
                {% endfor %}
            </form>
        </li>
    </ul>
</div>
<div class="btn-group">
    <button class="btn btn-white dropdown-toggle" data-toggle="dropdown">
        <span class="text">Exportar</span>
        <i class="fa fa-cloud-download"></i>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" onclick="exportar(false,'csv')">CSV</a></li>
        <li><a href="#" onclick="exportar(true,'xls')">Excel</a></li>
        <li><a href="#" onclick="exportar(false,'txt')">TXT</a></li>
    </ul>
</div>

<style type="text/css">
#tableOptionsDest{
    margin: 16px 0px;
}
</style>