jQuery(document).ready(function() {
    var $dialogol = $(
        '<div class="fa-2x">'+
        '<div class="row"><i class="fa fa-circle-o-notch  fa-spin fa-2x"></i></div>'+
        '<div class="row">Cargando</div></div>'
        );
    dTables.tables.tableId = jQuery('#'+tableId).dataTable( $.extend({},
        {{ params |json_encode(constant('JSON_HEX_QUOT'))|convertFunctions|raw }},
        {% if defSortColumn is defined %}
        {"aaSorting": [[{{defSortColumn[0]}},"{{defSortColumn[1]}}"]]},
        {% endif %}
        {"sDom": '<<"col-sm-4"l><"#tableOptionsDest.col-sm-4"><"col-sm-4"f>r>t<<"col-sm-6"i><"col-sm-6"p>>'}, 

        {"renderer": "bootstrap"}, 
        {"lengthMenu":[[30,50,100,200,-1],[30,50,100,200,"Todos"]]},
        {"iDisplayLength": 50},
        {"initComplete": function(dato1,dato2) {
            this.fnAdjustColumnSizing();
            var table = $('#'+tableId).DataTable();
            {% for column in dataColumns|default([]) %}
                {% if column.isHidden %}
                    table.column({{column.Number}}).visible(false);
                {% endif %}
                {% if column.isFiltered is not empty %}
                {% endif %}
                {% if column.isFiltered is not empty %}
                    
                {% endif %}
            {% endfor %}
            tablaInicializada();
        },
        "language":{
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    }
    ));
});