{% extends 'DHGcoreBundle:Default:base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style TYPE="text/css">
		.form-control {
			width: auto;
		}

		.table-responsive {
			overflow-x: auto !important;
		}
	</style>
{% endblock %}
{% block body %}
	<h1>{{form_title}}</h1>
	{% block innercontent %}
		{% form_theme form 'DHGcoreBundle:Form:editableTablefields.html.twig' %}

		<section class="scrollable wrapper">
		    <section class="panel">
		        <div class="table-responsive">
		            <div class="table-bordered">

							<form role="form" action="{{form_action}}" method="post" {{ form_enctype(form) }} class="{{form_class}}" >

							    <header class="panel-heading">
							    	<div class="row">
							    		<div class="col-sm-6">
							    			<button type="button" id="aply-button-up" class="btn btn-warning ">Aplicar</button>
							    		</div>
							    		<div class="col-sm-6 text-right">
      										<a href={{form_cancel}}>
      											<button type="button" id="cancel-button" class="btn btn-default">Cancelar</button>
      										</a>
							        		<button type="submit" class="btn btn-success btn-s-xs">{{form_submit_value}}</button>
							        	</div>
							        </div>
								</header>
								{{ form_widget(form) }}
								 <footer class="panel-footer bg-light lter">
							    	<div class="row">
							    		<div class="col-sm-6">
							    			<button type="button" id="aply-button-down" class="btn btn-warning ">Aplicar</button>
							    		</div>
							    		<div class="col-sm-6 text-right">
							    			<a href={{form_cancel}}>
      											<button type="button" id="cancel-button" class="btn btn-default">Cancelar</button>
      										</a>
							        		<button type="submit" class="btn btn-success btn-s-xs">{{form_submit_value}}</button>
							        	</div>
							        </div>
							     </footer>
							</form>


							{% set showTemplate = _self %}{% set showForm = formType %}

		            	</div>
		        	</div> {# table-responsive #}
		        </section> {# panel #}
		    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
		</section> {# scrollable wrapper #}


	{% endblock %} {#innercontent#} 
{% endblock %} {#body#} 


{% block javascripts %}
{{ parent() }}
<script type="text/javascript">{{ include('DHGcoreBundle:Form:editableTableScripts.js.twig') }}
	</script>
<script type="text/javascript">{{ include('DHGcoreBundle:Form:bootstrap-multiselect.js.twig') }}
	</script>
{% endblock %}

