{% extends 'DHGcoreBundle:Form:fields.html.twig' %}


{% block form_row -%}
    {% set widget = form_widget(form) |trim %}
    {% if widget is not empty %}
        {% if '<td>' in widget %}
            {{- widget |raw -}}
         {% else %}
            <td>
                {{- form_label(form) -}}
                {{- form_errors(form) -}}
                {{- widget |raw -}}
            </td> 
        {% endif %}
    {% endif %}
{%- endblock form_row %}

{% block form_rest -%}  
{%- endblock form_rest %}

{% block form_label -%}  
{%- endblock form_label %}

{% block help_label %}
{% endblock help_label %}

{% block form_help %}
{% endblock form_help %}

{% block help_input_tooltip %}
{% endblock help_input_tooltip %}

{% block button_row -%}
    <tr>
        <td>
            {{- form_widget(form) -}}
        </td>
    </tr>
{% endblock button_row %}

{% block hidden_widget -%}  
{%- endblock hidden_widget %}

{% block hidden_row -%}
{% endblock hidden_row %}


{% block form_widget_compound -%}
    {% if form.parent is empty %}
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover b-t text-sm">
                
                {{- block('table_header') -}}
                {{- block('form_rows') -}}
                {{- form_rest(form) -}}
            
            </table>
        </div>
    {% else %}
        {% if form.parent.parent is empty%}
            <tr>
                <td class="checkbox-cell">
                    <input type="checkbox" col_affected="primera" name="checkRow" id="{{form.vars.name}}" value="">
                </td>
                {{- block('form_rows') -}}
                {{- form_rest(form) -}}
            </tr>   
        {% else %}
                {{- block('form_rows') -}}
                {{- form_rest(form) -}}
        {% endif %}
    {% endif %}
{%- endblock form_widget_compound %}


{% block table_header %}
    <thead>
        {{- block('table_form_header') -}}
        {% if form.vars.header is defined %}

            <tr>
                <th class="checkbox-cell">            
                    <input type="checkbox" col_affected="primera" name="checkRow" value="">
                    <span class="btn  btn-xs" title="Invertir Seleccion" onclick="invertirSeleccion('primera');" ><i class="fa fa-exchange"></i></span>
                </th>
                {% for widget in form.vars.headerForm %}
                        {% if widget is empty %}
                            {% if widget.vars.label is not empty %}
                                <th>
                                    {{- widget.vars.label }}
                                </th>
                            {% endif %}
                        {% else %}
                            {% for widgetb in widget %}
                                <th>   
                                    {{- widgetb.vars.label }}
                                </th>
                            {% endfor %}
                        {% endif %}
                {% endfor %}
            </tr>
        {% endif %}
    </thead>
{% endblock table_header %}

{% block table_form_header %}
    {% if form.vars.headerForm is defined %}
    {% form_theme form.vars.headerForm _self  %}
        <tr>
            <th></th>


            {% for widget in form.vars.headerForm %}

                {% if widget is empty %}
                    {% set widgeta = form_widget(widget) |trim %}
                    {% if widgeta is not empty %}
                       <th>   
                            <div class="checkbox-cell text-center" style="padding-bottom:10px;">
                                        <input type="checkbox" name="checkCol" id= "{{widget.vars.name}}">
                            </div>
                            {{- widgeta |raw -}}
                        </th>
                    {% endif %}
                {% else %}
                    {% for widgetb in widget %}
                        {% set widgetc = form_widget(widgetb) |trim %}
                         <th>   
                            <div class="checkbox-cell text-center" style="padding-bottom:10px;">
                                        <input type="checkbox" name="checkCol" id= "{{widget.vars.name}}_{{widgetb.vars.name}}">
                            </div>
                            {{- widgetc |raw -}}
                        </th>
                    {% endfor %}
                {% endif %}
            {% endfor %} 
        </tr>
    {% endif %}
{% endblock table_form_header %}

