{% extends 'form_div_layout.html.twig' %}

{# Buttons #}
{% block button_attributes %}
    {% set attr = attr|merge({class: 'btn ' ~ attr.class | default("")}) %}
    {{ parent() }}
{% endblock button_attributes %}

{% block button_widget %}

    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
    {% if icon is not empty %}
            {{ dhg_core_icon(icon, icon_inverted|default(false)) }}
    {% endif %}
    {{ label|trans({}, translation_domain) }}</button>

{% endblock button_widget %}

{% block button_row %}
    
        {% if button_offset is defined and button_offset is not empty %}
            {% set attr = attr|merge({'for': id, 'class': button_offset }) %}
            <div class="form-group">
                <div {% for attrname, attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                {{ form_widget(form) }}
                </div>
            </div>
        {% else %}
            <div>
                {{ form_widget(form) }}
            </div>
        {% endif %}
    
{% endblock button_row %}

{# Widgets #}
{% block choice_widget_collapsed %}
    {% if widget_addon_append|default(null) is not null %}
        <div class="input-group">
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ widget_form_control_class}) %}
    {% if read_only %}
        {% set val = null%}
        {% for item in choices%}
            {% if item is selectedchoice(value) %}
                {% set val = item %}
            {% endif %}
        {% endfor %}
        {% if val %}
            <select {{ block('widget_attributes') }} style="display: none">
            <option value="{{ val.value }}" selected="selected">{{ val.label|trans({}, translation_domain) }}</option>  
            </select>
            <span class="h5">{{ val.label }}</span>
        {% else %}
            -
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
    {% if widget_addon_append|default(null) is not null %}
        {% set widget_addon = widget_addon_append %}
        {{ block('widget_addon') }}
        </div>
    {% endif %}
    {% if horizontal %}
        {{ block('form_message') }}
    {% endif %}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
    {% set type = type|default('text') %}
    {% if type != 'hidden' and ( widget_addon_prepend|default(null) is not null or widget_addon_append|default(null) is not null ) %}
    <div class="input-group">
        {% if widget_addon_prepend|default(null) is not null %}
            {% set widget_addon = widget_addon_prepend %}
            {{ block('widget_addon') }}
        {% endif %}
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ widget_form_control_class}) %}
    {{ parent() }}
    {% if horizontal %}
            {{ block('form_message') }}
    {% endif %}
    {% if type != 'hidden' and ( widget_addon_prepend|default(null) is not null or widget_addon_append|default(null) is not null ) %}
        {% if widget_addon_append|default(null) is not null %}
        {% set widget_addon = widget_addon_append %}
        {{ block('widget_addon') }}
        {% endif %}
    </div>
    {% endif %}
{% endblock textarea_widget %}

{% block form_widget_simple %}

    {% set type = type|default('text') %}
    {% if type != 'hidden' and ( widget_addon_prepend|default(null) is not null or widget_addon_append|default(null) is not null ) %}
    <div class="input-group">
        {% if widget_addon_prepend|default(null) is not null %}
            {% set widget_addon = widget_addon_prepend %}
            {{ block('widget_addon') }}
        {% endif %}
    {% endif %}
    {% if not widget_remove_btn|default(null) %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' not-removable'}) %}
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ widget_form_control_class}) %}
    {% if static_text is sameas(true) %}
        <p class="form-control-static">{{ value }}</p>
    {% else %}
        {{ parent() }}
    {% endif %}
    {% if type != 'hidden' and ( widget_addon_prepend|default(null) is not null or widget_addon_append|default(null) is not null ) %}
        {% if widget_addon_append|default(null) is not null %}
        {% set widget_addon = widget_addon_append %}
        {{ block('widget_addon') }}
        {% endif %}
    </div>
    {% endif %}
    {% if type != 'hidden' %}
        {{ block('form_message') }}
    {% endif %}

{% endblock form_widget_simple %}

{% block form_widget_compound %}

    {% if form.parent == null %}
        {% if render_fieldset %}<fieldset>{% endif %}
        
    {% endif %}

    {% if form.vars.tabbed %}
        {{ form_tabs(form) }}
        <div class="tab-content">
    {% endif %}

    {{ block('form_rows_visible') }}

    {% if form.vars.tabbed %}
        </div>
    {% endif %}

    {{ form_rest(form) }}

    {% if form.parent == null %}
        {% if render_fieldset %}</fieldset>{% endif %}
    {% endif %}

{% endblock form_widget_compound %}

{% block form_tabs %}
{% if form.vars.tabsView is defined %}
{{ form_widget(form.vars.tabsView) }}
{% endif %}
{% endblock %}

{% block tabs_widget %}

<ul class="{{ form.vars.attr.class }}">
    {% for tab in form.vars.tabs %}
        <li{% if tab.active %} class="active"{% endif %}>
            <a data-toggle="tab" href="#{{ tab.id }}">
                {% if tab.icon %}{{ dhg_core_icon(tab.icon) }}{% endif %}
                {{ tab.label|trans({}, tab.translation_domain) }}
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}

{% block form_tab %}
    {% set tab_attr = attr|merge({'class': 'tab-pane' ~ (form.vars.tab_active ? ' active' : '') ~ ' ' ~ attr.class|default(''), 'id': id}) %}
    <div{% for attrname, attrvalue in tab_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ block('form_widget') }}
    </div>
{% endblock %}

{% block collection_widget %}

    {% if prototype is defined %}
        {% set prototype_markup = form_row(prototype) %}
        {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
        {% set data_prototype_label = form.vars.form.vars.prototype.vars.label|default('__name__label__') %}
        {% set widget_form_group_attr = widget_form_group_attr|merge({
            'data-prototype': prototype_markup,
            'data-prototype-name': data_prototype_name,
            'data-prototype-label': data_prototype_label
        })|merge(attr) %}
    {% endif %}
    {# Add row by default use attr.class to change#}
	{% if 'collection' in form.vars.block_prefixes and attr.class is defined %}
		{% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}
	{% endif %}
    {# collection item adds class {form_id}_form-group  too #}
    {% set widget_form_group_attr = widget_form_group_attr|merge({'id': 'collection' ~ id ~ '_form_group', 'class': widget_form_group_attr.class ~ ' collection-items ' ~ id ~ '_form_group'}) %}

    <div {% for attrname,attrvalue in widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
    {# Add initial prototype form #}
    {% if form.vars.value|length == 0 and prototype is defined %}
        {% for name in prototype_names %}
            {{ prototype_markup|replace({'__name__': name})|raw }}
        {% endfor %}
    {% endif %}
    {{ block('form_widget') }}
    </div>
    {% if 'collection' in form.vars.block_prefixes and widget_add_btn|default(null) and form.vars.allow_add == true %}
            {{ block('form_widget_add_btn') }}
    {% endif %}

{% endblock collection_widget %}

{% block choice_widget_expanded %}

    {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (widget_type != '' ? (multiple ? 'checkbox' : 'radio') ~ '-' ~ widget_type : ''))}) %}
    {% if expanded %}
        {% set attr = attr|merge({'class': attr.class|default(horizontal_input_wrapper_class)}) %}
    {% endif %}
    <div style="max-height:240px">
        {% for child in form %}
            {% if widget_type != 'inline' %}
            <div class="{{ multiple ? 'checkbox' : 'radio' }} style">
            {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                    {{ form_widget(child, {'horizontal_label_class': horizontal_label_class, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class, 'attr': {'class': attr.widget_class|default('')}}) }}
                    {{ child.vars.label|trans({}, translation_domain) }}
                </label>
            {% if widget_type != 'inline' %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {{ block('form_message') }}
    {% if expanded %}
    {% endif %}

{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    
        {% if label is not sameas(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            <div class="checkbox">
        {% endif %}

        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes and label_render %}
            <label {% if not horizontal %}class="checkbox-inline"{% endif %}>
        {% endif %}
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            {% if label_render and widget_checkbox_label in ['both', 'widget'] %}
                {{ label|trans({}, translation_domain) }}
            </label>
            {% endif %}
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            </div>
            {{ block('form_message') }}
        {% endif %}
    
{% endblock checkbox_widget %}

{% block date_widget %}

{% if widget == 'single_text' %}
    {% if datepicker is defined %}
        <div data-provider="datepicker" class="input-group date" data-date="{{ value }}" data-link-field="{{ id }}" data-link-format="yyyy-mm-dd">
            <input {% if widget_form_control_class is not sameas(false) %}class="{{ widget_form_control_class }}" {% endif %}type="text" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}>
            <input type="hidden" value="{{ value }}" {{ block('widget_attributes') }}>
            <span class="input-group-addon">{{ dhg_core_icon('calendar') }}</span> 
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% else %}
    {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
        {% if yearonly is defined %}
            <div class="input-group">
                {{ date_pattern|replace({
                '{{ year }}': form_widget(form.year, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
                '{{ month }}': form_widget(form.month, { 'attr' : { 'style': 'display:none' }}),
                '{{ day }}':  form_widget(form.day, { 'attr' : { 'style': 'display:none' }}),
                })|raw }}
            </div>
        {% else %}
        	<div class="row">
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
                '{{ month }}': form_widget(form.month, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
                '{{ day }}':   form_widget(form.day, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
            })|raw }}
            </div>
        {% endif %}   
    {{ block('form_message') }}
{% endif %}

{% endblock date_widget %}

{% block time_widget %}

{% if widget == 'single_text' %}
    {% if timepicker is defined %}
        <div data-provider="timepicker" class="input-group date" data-date="{{ value }}" data-link-field="{{ id }}" data-link-format="hh:ii">
            <input class="form-control" type="text" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}>
            <input type="hidden" value="{{ value }}" {{ block('widget_attributes') }}>
            <span class="input-group-addon">{{ dhg_core_icon('time') }}</span>
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% else %}
    {% set attr = attr|merge({'class': attr.class|default('')}) %}
    
    {{ form_widget(form.hour, { 'attr': {  'size': '1'}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-2')}) }}
    {{ form_widget(form.minute, { 'attr': { 'size': '1' }, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-2')}) }}
    {% if with_seconds %}
        :{{ form_widget(form.second, { 'attr': { 'size': '1' }, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-2') }) }}
    {% endif %}
    
    {{ block('form_message') }}
{% endif %}

{% endblock time_widget %}

{% block datetime_widget %}

    {% if widget == 'single_text' %}
        {% if datetimepicker is defined %}
            <div data-provider="datetimepicker" class="input-group date" data-date="{% if value %}{{ value|date('Y-m-d H:i') }}{% endif %}" data-link-field="{{ id }}" data-link-format="yyyy-mm-dd hh:ii">
                <input class="form-control" type="text" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}>
                <input type="hidden" value="{% if value %}{{ value|date('Y-m-d H:i') }}{% endif %}" {{ block('widget_attributes') }}>
                <span class="input-group-addon">{{ dhg_core_icon('th') }}</span>
            </div>
        {% else %}
            {{ block('form_widget_simple') }}
        {% endif %}
    {% else %}
            {% set attr = attr|merge({'class': attr.class|default('')}) %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                {{ form_widget(form.date, {'attr': {'class': attr.widget_class|default('')}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}) }}
                {{ form_widget(form.time, {'attr': {'class': attr.widget_class|default('')}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-2')}) }}
                {{ block('form_message') }}
            </div>
    {% endif %}

{% endblock datetime_widget %}

{% block percent_widget %}

    {% set widget_addon_append = widget_addon_append|merge({'text': widget_addon_append.text|default('%')}) %}
    {{ block('form_widget_simple') }}

{% endblock percent_widget %}

{% block money_widget %}

    {% set widget_addon_prepend = (widget_addon_prepend != false or widget_addon_prepend == null) and money_pattern != '{{ widget }}' ? {'text': money_pattern|replace({ '{{ widget }}': ''})} : widget_addon_prepend|default(null) %}
    {{ block('form_widget_simple') }}

{% endblock money_widget %}

{% block file_widget %}

{% if file_url is not null %}
    <div><a href="{{ file_url }}">{{ file_name }}</a></div>
    {# <div style="display:none">{{ block('form_widget') }}</div> #}
{% else %}
    {% set type = type|default('file') %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ widget_form_control_class}) %}
        {% if widget_addon_prepend|default(null) is not null %}
            {% set widget_addon = widget_addon_prepend %}
            {{ block('widget_addon') }}
        {% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }}/>
    {% if type != 'hidden' and  widget_addon.type|default(null) is not null %}
        {% if widget_addon_append|default(null) is not null %}
            {% set widget_addon = widget_addon_append %}
            {{ block('widget_addon') }}
        {% endif %}
    {% endif %}
    {% if horizontal %}
        {{ block('form_message') }}
    {% endif %}
{% endif %}

{% endblock file_widget %}

{# Labels #}

{% block form_legend %}

    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <{{ legend_tag }}>{{ label|trans({}, translation_domain) }}</{{ legend_tag }}>

{% endblock form_legend %}

{% block form_label %}
{% if 'checkbox' not in block_prefixes or widget_checkbox_label in ['label', 'both'] %}

    {% if label is not sameas(false) %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% set label_attr_class = '' %}
        {% if horizontal %}
            {% set label_attr_class = 'control-label ' ~ label_attr_class ~ horizontal_label_class %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ " " ~ label_attr_class ~ (required ? ' required' : ' optional') }) %}
        <label{% for attrname,attrvalue in label_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
            {% if help_label %}
                {{ block('help_label') }}
            {% endif %}
            {% if help_label_tooltip.title %}
                {{ block('help_label_tooltip') }}
            {% endif %}
            {% if help_label_popover.title %}
                {{ block('help_label_popover') }}
            {% endif %}
        {{ label|trans({}, translation_domain) }}
        {{- block('label_asterisk') }}
        {#{% if 'collection' in form.vars.block_prefixes and widget_add_btn|default(null) and form.vars.allow_add == true %}
            {{ block('form_widget_add_btn') }}
        {% endif %}#}

        </label>
    {% endif %}

{% endif %}
{% endblock form_label %}

{% block help_label %}
    <span class="help-block">{{ help_label|trans({}, translation_domain) }}</span>
{% endblock help_label %}

{% block help_label_tooltip %}
    <span class="help-block">
        <a href="#" data-toggle="tooltip" data-placement="{{ help_label_tooltip.placement}}" data-title="{{ help_label_tooltip.title|trans({}, translation_domain) }}">
            {% if help_label_tooltip.icon is not sameas(false) %}
                {{ dhg_core_icon(help_label_tooltip.icon) }}
            {% endif %}
            {% if help_label_tooltip.text is not sameas(null) %}
            {{ help_label_tooltip.text }}
            {% endif %}
        </a>
    </span>
{% endblock help_label_tooltip %}

{% block help_input_tooltip %}
    <span class="help-line">
        <a href="#" data-toggle="tooltip"  data-placement="{{ help_input_tooltip.placement}}" data-title="{{ help_input_tooltip.title|trans({}, translation_domain) }}">
            {% if help_input_tooltip.icon is not sameas(false) %}
                {{ dhg_core_icon(help_input_tooltip.icon) }}
            {% endif %}
            {% if help_input_tooltip.text is not sameas(null) %}
            {{ help_input_tooltip.text }}
            {% endif %}
        </a>
    </span>
{% endblock help_input_tooltip %}

{% block help_label_popover %}
    <a tabindex="0" href="#" role="button" data-toggle="popover" data-container="form" data-trigger="focus" data-html="true" data-placement="{{ help_label_popover.placement}}" data-content="<span>{{ help_label_popover.content|trans({}, translation_domain) }}</span>" data-original-title='{{ help_label_popover.title|trans({}, translation_domain) }}' >
        {% if help_label_popover.icon is not sameas(false) %}
            {{ dhg_core_icon(help_label_popover.icon) }}
        {% endif %}
        {% if help_label_popover.text is not sameas(null) %}
        {{ help_label_popover.text }}
        {% endif %}
    </a>
{% endblock help_label_popover %}

{% block form_actions_widget %}
    {% for button in form.children %}
        {{ form_widget(button) }}&nbsp; {# this needs to be here due to https://github.com/twbs/bootstrap/issues/3245 #}
    {% endfor  %}
{% endblock %}

{# Rows #}
{% block form_actions_row %}
    {{ block('button_row')  }}
{% endblock %}

{% block form_rows_visible %}

    {% if form_errors(form) %}
        <div class="symfony-form-errors">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {% for child in form %}
        {% if 'hidden' not in child.vars.block_prefixes %} {# smbdy: why do we not add the hiddens of childs? 131024 phiamo: i think form rest should do this !? it was afaik removed because it cause side effekts #}
            {{ form_row(child) }}
        {% endif %}
    {% endfor %}

{% endblock form_rows_visible %}

{% block form_row %}
    {% spaceless %}
        {# check if the form is removable#}
        {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes and widget_remove_btn|default(null) and form.parent.vars.allow_delete|default(false) %}
            {% set removable = true %}
        {% else %}
            {% set removable = false %}
        {% endif %}
        {% if 'tab' in form.vars.block_prefixes %}
            {{ block('form_tab') }}
        {% else %}
            {{ block('widget_form_group_start') }}

    		{% set show_horizontal_wrapper = horizontal and not (form.parent is not null and 'collection' in form.parent.vars.block_prefixes) %}

            {% if horizontal and not label_render %}
                {% set horizontal_input_wrapper_class = ' col-lg-12' %}
            {% endif %}
            {% if removable %}<div class="row"><div class="col-xs-10">{% endif %}
    		{% if show_horizontal_wrapper %}
                <div class="{{ horizontal_input_wrapper_class }} ">
    		{% endif %}
            {{ widget_prefix|trans({}, translation_domain)|raw }} {{ form_widget(form, _context) }} {% if widget_suffix %}<span class="input-suffix">{{ widget_suffix|trans({}, translation_domain)|raw }}</span> {% endif %}

    		{% if show_horizontal_wrapper %}
                </div>
            {% endif %}

            {% if removable %}
                </div><div class="col-xs-2">{{ block('form_widget_remove_btn') }}</div></div>
            {% endif %}
            {{ block('widget_form_group_end') }}
            {% if attr.endSection is defined%}
                <div class="line line-dashed line-lg pull-in {{attr.endSection}}"></div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{# Support #}

{% block form_message %}

    {{ form_errors(form) }}
    {{ block('form_help') }}

{% endblock form_message %}

{# Help #}

{% block form_help %}

{% if help_block %}<p class="help-block">{{ help_block|trans({}, translation_domain)|raw }}</p>{%endif %}

{% endblock form_help %}

{% block form_widget_add_btn %}

    {% if widget_add_btn|default(null) %}
        {% set button_type = 'add' %}
        {% set button_values = widget_add_btn %}
        {{ block('collection_button') }}
    {% endif %}

{% endblock form_widget_add_btn %}

{% block form_widget_remove_btn %}

    {% if widget_remove_btn.wrapper_div is not sameas(false) %}
    {% endif %}
    {% if widget_remove_btn|default(null) %}
    {% set button_type = 'remove' %}
    {% set button_values = widget_remove_btn %}
    {{ block('collection_button') }}
    {% endif %}
    {% if widget_remove_btn.wrapper_div is not sameas(false) %}
    {% endif %}

{% endblock form_widget_remove_btn %}

{% block collection_button %}
<a {% for attrname,attrvalue in button_values.attr %} {{attrname}}="{{attrvalue}}"{% endfor %} data-collection-{{ button_type }}-btn=".{{ form.vars['id'] }}_form_group">
{% if button_values.icon is not null %}
    {{ dhg_core_icon(button_values.icon, button_values.icon_inverted|default(false)) }}
{% endif %}
{{ button_values.label|trans({}, translation_domain) }}
</a>

{% endblock collection_button %}

{% block label_asterisk %}
{% if required %}
    {%- if render_required_asterisk %}&nbsp;<span class="asterisk">*</span>{% endif %}
{% else %}
    {%- if render_optional_text %}&nbsp;<span>{{ "(optional)"|trans({}, translation_domain) }}</span>{% endif %}
{% endif %}
{% endblock label_asterisk %}

{% block widget_addon %}

{% set widget_addon_icon = widget_addon.icon is defined ? widget_addon.icon : null  %}
{% set widget_addon_icon_inverted = widget_addon.icon_inverted is defined ? widget_addon.icon_inverted : false  %}
    {% if widget_addon.form_ajax is defined %}
        {{ block ('form_ajax') }}
    {% else %}
        <span class="input-group-addon">{{ (widget_addon.text|default(false) ? widget_addon.text|trans({}, translation_domain)|raw : dhg_core_icon(widget_addon_icon, widget_addon_icon_inverted)) }}</span>
    {% endif %}

{% endblock widget_addon %}


{# Errors #}

{% block form_errors %}

{% if error_delay %}
    {% for child in form %}
        {% if loop.index == 1 %}
            {% if child.set('errors', errors) %}{% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    {% if errors|length > 0 %}
        {% if form.parent == null %}
            {% from 'DHGcoreBundle::flash.html.twig' import flash %}
            {% for error in errors %}
                {{
                    flash('danger', error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                    )
                }}
            {% endfor %}
        {% else %}
            <span class="help-{{ block('error_type') }}">
            {% for error in errors %}
                {{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }} <br>
            {% endfor %}
            </span>
        {% endif %}
    {% endif %}
{% endif %}

{% endblock form_errors %}

{# used to determine which type of error #}

{% block error_type %}

{% if error_type %}
    {{ error_type }}
{% elseif form.parent == null %}
    {{ form.vars.error_type | default('inline') }}
{% else %}
    block
{% endif %}

{% endblock error_type %}

{# widget helper blocks #}

{% block widget_form_group_start %}
{% if widget_form_group|default(false) or form.parent == null %}
    {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes %} {# i am a collection child #}
        {% if not omit_collection_item %}
            {# collection item wrapper doesnt need form-group it gets added to childs anyways #}
        	{% set widget_form_group_attr = widget_form_group_attr|merge({class: 'collection-item col-lg-12'}) %}
        {% endif %}
    {% endif %}
    {% if errors|length > 0 %}
	    {# Add Error Class to Widget Wrapper#}
	    {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}
    {% endif %}
    {% if help_widget_popover.selector is sameas(null) %}
        {% set help_widget_popover = help_widget_popover|merge({'selector': '#' ~ id }) %}
    {% endif %}
    <div{% if help_widget_popover.title is not sameas(null) %}{{ block('help_widget_popover') }}{% endif %} {% for attrname,attrvalue in widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
    {# a form item containing the field in block_prefixes is a near subform or a field directly #}
    {% if (form|length > 0 and form.parent != null)
        and 'field' not in form.vars.block_prefixes
        and 'date' not in form.vars.block_prefixes %}
        {% if show_child_legend%}
            {{ block('form_legend') }}
        {% elseif label_render %}
            {{ form_label(form, label|default(null)) }}
        {% else %}
        {% endif %}
    {% else %}
        {% if label_render %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}
    {% endif %}
{% else %}
    {% if label_render %}
        {{ form_label(form, label|default(null)) }}
    {% endif %}
{% endif %}
{% endblock widget_form_group_start %}

{% block help_widget_popover %}
 
 {% for attrname,attrvalue in help_widget_popover %}
 data-{{attrname}}="{{attrvalue|trans({}, domain|default('messages'))}}"
 {% endfor %}
 
{% endblock help_widget_popover %}

{% block widget_form_group_end %}

{% if widget_form_group|default(false) or form.parent == null %}
    </div>
{% endif %}

{% endblock widget_form_group_end %}


{% block form_ajax %}
    <div class="container-form-block" id="div-block-{{ id }}">
        <div class="modal fade" id="modal-ajax-{{ id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="form-Modal-ajax-{{ id }}"></div>
                </div>
            </div>
        </div>
        <div class="div-for-ajax"></div>
    </div>
    <a class="input-group-addon" href="#" onClick="loadAjaxForm(this,'{{ path(widget_addon.form_ajax) }}','{{ id }}');">
        <i class="fa fa-plus fa-lg text-success" ></i>
    </a>
{% endblock form_ajax %}
