<div class="modalConfirm-header">
    <span class="h2">Error!</span>
</div>
{% if error is iterable %}
    {% for value in error %}
        <span class="h3">{{ value }}</span><br>
    {% endfor %}
{% else %}
    <span>{{ error }}</span>
{% endif %}
<button type="button" id="cancel-modal-button" class="btn btn-default" data-dismiss="modal">Cerrar</button>