{% for key,value in listado %}
    {% if value is iterable %}
        <optgroup label = '{{ key }}'>
        {% for key2,value2 in value %}
            <option value="{{ key2 }}" {% if selected is defined and key2 == selected.id %} selected='true'{% endif %}>{{ value2 }}</option>
        {% endfor %}
        </optgroup>
    {% else %}
        <option value="{{ key }}" {% if selected is defined and key == selected.id %} selected='true'{% endif %}>{{ value }}</option>
    {% endif %}
{% endfor %}