
{#% from 'DHGcoreBundle::flash.html.twig' import session_flash %#}

{% block headline %}{{form_title}}{% endblock headline %}

{% block content %}



<form role="form">
      {{ form_widget(form) }}
</form>



{% endblock content %}

{% set showTemplate = _self %}{% set showForm = formType %}

