
{% form_theme modularForm 'DHGcoreBundle:Form:fields.html.twig' %}
{% from 'DHGcoreBundle::flash.html.twig' import session_flash %}
<form role="form" action="{{form_action}}" method="post" {{ form_enctype(modularForm) }} class="{{form_class}}" >
    {% if noHeader is defined and noHeader %}
    {% else %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">{% if form_title is defined %}{{ form_title }}{% else %}{{ modularForm.vars.name|humanize }}{% endif %}</h4>
        </div>
    {% endif %}
    <div class="modal-body">
        <section class="panel">
            <div class="panel-body">
                {{ form_widget(modularForm) }}
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button type="button" id="cancel-modal-button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success ">{{form_submit_value}}</button>
    </div>
</form>
{% set showTemplate = _self %}{% set showForm = formType %}