<?php
namespace {{ namespace }}\Model;

use Brown298\DataTablesBundle\MetaData as DataTable;
use Brown298\DataTablesBundle\Model\DataTable\QueryBuilderDataTableInterface;
use Brown298\DataTablesBundle\Model\DataTable\AbstractQueryBuilderDataTable;
use Doctrine\ORM\EntityManager;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\Templating\EngineInterface;

/**
 * Class {{ entity }}Table
 *
 * @DataTable\Table(id="{{ entity }}Table"  )
 */
class {{ entity }}Table extends AbstractQueryBuilderDataTable implements QueryBuilderDataTableInterface {
    {%- for field in metadata.fieldMappings if field.fieldName not in ["creado","id","lastupdate","eliminado"] %}

    {%- if field.type == "boolean" -%}
    /**
     * @var {{ field.type }}
     * @DataTable\Column(source="{{ entity}}.{{ field.columnName}}", name="{{ field.fieldName}}")
     * @DataTable\Format(dataFields={"value":"{{ field.fieldName}}"}, template="DHGcoreBundle:Datatable:cellBool.html.twig")
     */
    protected ${{ field.columnName }};
    {%- elseif field.type == "datetime" -%}
    /**
     * @var string
     * @DataTable\Column(source="{{ entity}}.{{ field.columnName}}", name="{{ field.fieldName}}", stype="date-eu")
     * @DataTable\Format(dataFields={"value":"{{ field.fieldName}}"}, template="DHGcoreBundle:Datatable:cellDate.html.twig")
     */
    protected ${{ field.columnName }};
    {%- else -%}
    /**
     * @var {{ field.type }}
     * @DataTable\Column(source="{{ entity}}.{{ field.columnName}}", name="{{ field.fieldName}}")
     */
    protected ${{ field.columnName }};
    {%- endif %}

    {% endfor %}

    {%- for field in metadata.associationMappings if field.fieldName not in ["usuario"]-%}
    /**
     * @var string
     * @DataTable\Column(source="{{ entity}}.{{ field.fieldName}}", name="{{ field.fieldName}}")
     * @DataTable\Format(dataFields={"test":"{{ field.fieldName}}","valor":"{{ field.fieldName}}"}, template="DHGcoreBundle:Datatable:cellNullable.html.twig")
     */
    protected ${{ field.fieldName }};

    {% endfor %}

    /**
     * @var int
     * @DataTable\Column(source="{{ entity }}.id", name="Accion" )
     * @DataTable\Format(dataFields={"entity":"{{ entity }}","entityName":"'{{ entity }}'","bundle":"'{{ bundle_name }}'"},  template="DHGcoreBundle:Datatable:defCellAction.html.twig")
     */
    public $action;


    /**
     * @var bool hydrate results to doctrine objects
     */
    public $hydrateObjects = true;

    /**
     * getQueryBuilder
     *
     * @param Request $request
     *
     * @return null
     */
    public function getQueryBuilder(Request $request = null)
    {
        $userRepository = $this->container->get('doctrine.orm.entity_manager')
            ->getRepository('{{ namespace }}\Entity\{{ entity }}');
        $qb = $userRepository->createQueryBuilder('{{ entity }}');
        return $qb;
    }

}