<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle usermenu dker" data-toggle="dropdown">
            <span class="thumb-sm avatar pull-left m-t-n-xs m-r-xs">

                {% if app.security.getToken().getUser().getAvatar() is not null %}
                    <img src="{{ app.security.getToken().getUser().getAvatar().getWebPath() }}">
                    {% else %}
                    <img src="{{ asset('bundles/dhgcore/images/avatar.jpg') }}">
                {% endif %}

            </span>
            <span class="usernameaccount">
                <span class="useraccount">({{ app.security.getToken().getAccount() }})</span> - 
                <span class="username">{{ app.security.getToken().getUser().getUsername() }}</span>
            </span>
            <span><b class="caret"></b></span>
        </a>

        {{ knp_menu_render('DHGUserBundle:UserMenuBuilder:UserMenu', { 'template': 'DHGUserBundle:Menu:knp_usermenu.html.twig'}) }} 
    </li>
</ul>
