{% extends 'DHGcoreBundle:Modal:modalView.html.twig' %}

{% block header %}
	<span class="h2">Movimiento: {{ content.producto.nombre|default("-") }}</span>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="wrapper">
				<div class="well m-t">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <h1>    
                            	{% if content.clasificacion.egreso %}
                                	<i class="fa fa-arrow-down text-danger fa-4x"></i>
                        		{% else %}
	                                <i class="fa fa-arrow-up text-success fa-4x"></i>                        	
                            	{% endif %}
                            </h1>
                        </div>
                        <div class="col-sm-8">
                        	<p>
                        		<b>Fecha: </b>{% if content.fecha is not null %}{{content.fecha|date('d/m/Y')}} {% endif %}<br>
                        		<b>Producto: </b>{{ view.link(content.producto.id,"dhg_inventario_productoView",content.producto.nombre|default("-") ) }}<br>
                        		<b>Cantidad: </b>{{ content.cantidad|default("0") }} {{ content.producto.unidad.abbr|default("-") }}<br>
                        		<b>Precio Unidad: </b>$ {{ content.preciounidad|default("0") }}<br>
                        		<b>Precio Total: </b>$ {{ (content.cantidad*content.preciounidad)|default("0") }}<br>
                        		<b>Clasificacion: </b> {{ content.clasificacion.nombre|default("-") }}<br>
                        		<b>Almacen: </b>{{ content.Almacen.name|default("-") }}<br>
                        		<b>Comprobante: </b>{{ content.comprobante|default("-") }}<br>
                        		<b>{% if content.clasificacion.egreso %}Cliente: {% else %}Proveedor: {% endif %}</b>{{ content.clipro.nombre|default("-") }}<br>
                        	</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <b>Detalles:</b>
                            <pre>{{ content.detalle|default("") }}</pre><br>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


