{% extends 'DHGcoreBundle:Modal:modalView.html.twig' %}

{% block header %}
	<span class="h2">Producto: {{ content.nombre|default("-") }}</span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="well m-t">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/no-image.png" class="img-thumbnail img-responsive">
                            <div class="row">
                                <div class="col-md-6"><br>
                                    {% if content.ficheros is not empty -%}
                                        <b>Archivos:</b> 
                                        {%- for archivo in content.ficheros -%}
                                            <li><a href="{{archivo.getWebPath}}">Archivo</a>  <a data-title="{{archivo.description}}" data-placement="top" data-toggle="tooltip" href="#" data-original-title="{{archivo.description}}" title="{{archivo.description}}"><span class="glyphicon glyphicon-info-sign"></span></a></li>
                                        {%- endfor -%}
                                    {%- endif %}<br>
                                </div>
                                <div class="col-md-6"><br>
                                    {% if content.ficheros is not empty -%}
                                        <b>Archivos:</b> 
                                        {%- for archivo in content.ficheros -%}
                                            <li><a href="{{archivo.getWebPath}}">{{ archivo.description|default("-") }}</a></li>
                                        {%- endfor -%}
                                    {%- endif %}<br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Clasificacion: </b>{{ content.clasificacion.nombre|default("-") }}<br>
                                <b>Modelo: </b>{{ content.modelo|default("-") }}<br>
                                <b>Codigo de barra: </b>{{ content.codigoBarra|default("-")}}<br>
                                <b>Nro de serie: </b>{{ content.nroSerie|default("-") }}<br>
                                <b>Unidad: </b>{{ content.unidad.name }} ({{ content.unidad.abbr }})<br>
                                <b>Producible: </b>{% if content.producible %} SI {% else %} NO {% endif %}<br>
                                <b>Periodo de garantia: </b>{% if content.periodoGarantia is not null %}{{content.periodoGarantia|date('d/m/Y')}}{% endif %}<br>
                                <b>Fecha expiracion: </b>{% if content.fechaExp is not null %}{{content.fechaExp|date('d/m/Y')}} {% endif %}<br>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <b>Detalles:</b>
                            <pre>{{ content.detalle|default("") }}</pre><br>
                        </div>
                    </div>
                </div>
                <div>
                    {% if maquinas is not empty %}
                        <h3>Maquinas Asociadas:</h3><hr>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Fabricante</th>
                                        <th>Modelo</th>
                                        <th>Clasificacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for maquina in maquinas %}
                                        <tr>
                                            <td>{{ view.link(maquina.id,"dhg_maquinaria_maquinariaView",maquina.nombre|default("-") ) }}</td>
                                            <td>{{maquina.fabricante}}</td>
                                            <td>{{maquina.modelo}}</td>
                                            <td>{{maquina.clasificacion}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}