{% extends 'DHGcoreBundle:Modal:modalView.html.twig' %}

{% block header %}
	<span class="h2">Contacto: {{ content.nombre|default("-") }}</span>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="well m-t">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/no-image.png" class="img-thumbnail img-responsive"><br><br>
                            <b>Usuario: </b>{% if content.usuariorelacionado is not null %}{{ content.usuariorelacionado.username }}{% else %}-{% endif %}<br>
                            <b>Proveedor: </b>{% if clipro is defined and clipro is not null %}{% if clipro.proveedor %}<i class="fa fa-check text-success "></i>{% else %}<i class="fa fa-times text-danger "></i>{% endif %}{% else %}<i class="fa fa-times text-danger "></i>{% endif %}<br>
                            <b>Cliente: </b>{% if clipro is defined and clipro is not null %}{% if clipro.cliente %}<i class="fa fa-check text-success "></i>{% else %}<i class="fa fa-times text-danger "></i>{% endif %}{% else %}<i class="fa fa-times text-danger "></i>{% endif %}<br>
                            <b>Mecanico: </b> {% if mecanico is defined and mecanico is not null %}<i class="fa fa-check text-success "></i>{% else %}<i class="fa fa-times text-danger "></i>{% endif %}<br>
                            <b>Personal: </b> {% if personal is defined and personal is not null %}<i class="fa fa-check text-success "></i>{% else %}<i class="fa fa-times text-danger "></i>{% endif %} <br>
                        </div>
                        <div class="col-sm-8">
                            <p>
                                <b>Nombre: </b>{{ content.nombre }}<br>
                                <b>Identificacion: </b>{{ content.identificacion }}<br>
                                {% block extra %}{% endblock %}
                            </p>
                            <div class="row"><div class="col-sm-4"><b>Telefonos: </b></div>
                                <div class="col-sm-8">
                                    <ul>
                                        {% for telefono in content.telefonos %}
                                            <li>{{ telefono }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="row"><div class="col-sm-4"><b>Direcciones: </b></div>
                                <div class="col-sm-8">
                                    <ul>
                                        {% for telefono in content.direcciones %}
                                            <li>{{ telefono }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="row"><div class="col-sm-4"><b>Emails: </b></div>
                                <div class="col-sm-8">
                                    <ul>
                                        {% for telefono in content.emails %}
                                            <li>{{ telefono }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <b>Grupos:</b>  
                            {%- for grupo in content.grupos %}
                                <span class="label bg-success">{{ grupo.nombre }}</span>
                            {% endfor %}<br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <b>Detalles: </b><pre>{{ content.details|default("") }}</pre>
                        </div>
                    </div>
                </div>
                {% if personal is defined and personal is not null %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Datos de Personal</h2><hr>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-bold">
                                        <tr>
                                            <th>Clasificacion</th>
                                            <th>$/Hora</th>
                                            <th>$/Hora Extra</th> 
                                            <th>$/Kg</th>
                                            <th>$/Ha</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ personal.clasification }}</td>
                                            <td>${{ personal.pricehour+0 }}</td>
                                            <td>${{ personal.pricehourextra+0 }}</td>
                                            <td>${{ personal.pricekg+0 }}</td>
                                            <td>${{ personal.priceha+0 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


