{% set options = [] %}
{% if is_granted(constant('DHG\\ContactosBundle\\Security\\ContactosPermissions::GESTIONPERSONALCLASIFICACION'), entity) %}
    {% set options = options|merge([
        {id:entity.id,tipo:"borrar"},
        {path:path('dhg_personal_clasedit'),id:entity.id,tipo:"editar"}
        ])
    %}
{% endif %}
{% use 'DHGcoreBundle:Datatable:cellActionTemplate.html.twig' %}  
{{ block('main_content') }}