{% extends 'knp_menu.html.twig' %}
{% block item %}
    {% import "knp_menu.html.twig" as macros %}
    
        {{ block('horItem') }}
    
{% endblock %}




{% block horItem %}
    {%- set attributes = item.attributes %}
    {%- set is_dropdown = attributes.dropright|default(false) %}
    {% if is_dropdown %}
        <div class="btn-group">
            <button class="btn btn-white dropdown-toggle" data-toggle="dropdown">{{ block('label')}}<span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for actionItem in item.children %}
                    <li>
                        {%- set item = actionItem %}
                        {{ block('modalSubItem') }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        {{ block ('modalItem')}}
    {% endif %}
{% endblock %}

{% block modalSubItem %}
    <a href="{{ item.uri }}" {{ macros.attributes(item.attributes) }}><i class="fa fa-plus"></i> {{ block('label') }}</a>
{% endblock %}
{% block modalItem %}
    <a href="{{ item.uri }}" {{ macros.attributes(item.attributes) }}>
        <button class="btn btn-white">
            <i class="fa fa-{{- item.attribute('icon')|default('plus') }} fa-lg icon-muted v-middle"></i> <span>{{ block('label') }}</span>
        </button>
    </a>
{% endblock %}

{% block label %}{{ item.label|trans }}{% endblock %}

{% block MenuBlock %}

{% endblock %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        {{ block('children') }}
    {% endif %}
{% endblock %}