{% extends 'knp_menu.html.twig' %}
{% block root %}
    {% if item.children is empty %}
    {% else %}
        {% set listAttributes = item.childrenAttributes %}
        <aside id="subNav" class="aside aside-md bg-light">
                <section id="mail-nav" class="hidden-xs">
                    {{ block('list') -}}
                </section>
        </aside>
    {% endif %}
{% endblock %}