{% extends 'knp_menu.html.twig' %}

{% block root %}     
    {%- set listAttributes = item.childrenAttributes|merge({'class': 'breadcrumb' }) %} 
    {{ block('list') -}} 
 {% endblock %}

{% block item %}
    {% import "knp_menu.html.twig" as macros %}
    {% if item.displayed %}
        {%- set attributes = item.attributes %}
        {%- set is_dropdown = attributes.dropdown|default(false) %}
        {%- set divider_prepend = attributes.divider_prepend|default(false) %}
        {%- set divider_append = attributes.divider_append|default(false) %}

        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.depth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        
    {# building the class of the children #}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        
        
    {# putting classes together #}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}

        
        {# displaying the item #}
        {% if matcher.isCurrent(item) or matcher.isAncestor(item) %}
            <li{{ macros.attributes(attributes) }}>
                {{ block('breadcrumbItem') }}
            </li>
            {{ block('innerlist') }}
        {% endif %}

    {% endif %}
{% endblock %}

{% block innerlist %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        {% import _self as knp_menu %}
            {{ block('children') }}
    {% endif %}
{% endblock %}

{% block breadcrumbItem %}

        {% if item.attribute('icon') is not empty  %}
            <i class="fa fa-{{ item.attribute('icon') }}"></i> 
        {% endif %}
        {{ block('label') }}

{% endblock %}

{% block label %}{{ item.label|trans }}{% endblock %}