{% extends 'knp_menu.html.twig' %}

{% block item %}
    
        {% import "knp_menu.html.twig" as macros %}
        {%- if matcher.isCurrent(item) %}
            {%- set item = item.parent %}
            {{ block('displayableMenu') }}
        {%- elseif matcher.isAncestor(item, options.depth) %}
            {% for actItem in item.children %}
                {%- set item = actItem %}
                {{ block('item') }}
            {% endfor %}
        {%- endif %}
    
{% endblock %}


{% block linkElement %}
    {% if item.displayed %}
    <a href="{{ item.uri }}"><span> 
        {% if item.attribute('icon') is not empty %}
            <i class="{{ item.attribute('icon') }}"></i> 
        {% endif %}
        {{ block('label') }}</span>
    </a>
    {% endif %}
{% endblock %}

{% block displayableMenu %}
    {%- set is_dropright = item.attributes.dropright|default(false) %}
    {% if item.children|length > 1 and is_dropright%}
    <aside class="aside aside-md bg-light">
        <section class="vbox">
            <section id="mail-nav" class="hidden-xs">
                <ul class="nav nav-pills nav-stacked no-radius">
                    {% for actItem in item.children %}
                        {%- set item = actItem %}
                        {%- set attributes = item.attributes %}
                        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
                        {%- if matcher.isCurrent(item) %}
                            {%- set classes = classes|merge([options.currentClass]) %}
                        {% endif %}
                        {%- if classes is not empty %}
                            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
                        {%- endif %}
                        <li {{ macros.attributes(attributes) }}>
                            {{ block('linkElement')}}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </section>
    </aside>
    {% endif %}
{% endblock %}

{% block label %}{{ item.label }}{% endblock %}

{% block list %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        {% if item.attribute('dropdown') %}
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.label }} <b  class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{ block('children') }}
                    </ul>
            </li>
        {% else %}
                {{ block('children') }}
        {% endif %}
    {% endif %}
{% endblock %}