{% extends 'knp_menu.html.twig' %}


{% block list %}
    {% import _self as knp_menu %}
            {{ block('children') }}
{% endblock %}

{% block item %}
    {% import "knp_menu.html.twig" as macros %}

        {%- set attributes = item.attributes %}
        {%- set is_dropdown = attributes.dropdown|default(false) %}
        {%- set divider_prepend = attributes.divider_prepend|default(false) %}
        {%- set divider_append = attributes.divider_append|default(false) %}

        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.depth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}

        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
        
        {# displaying the item #}
        {% if matcher.isAncestor(item) or matcher.isCurrent(item) %}
            {{ block('sectionname') }}
        {% endif %}

{% endblock %}

{% block sectionname %}
    {% if matcher.isCurrent(item) %}
        <div class="row"><div class="col-sm-12"><h3 class="m-t m-b-none">
        {% if item.attribute('icon') is not empty  %}
            <i class="fa fa-{{ item.attribute('icon') }}"></i> 
        {% endif %}
        {{- item.label -}}
        </h3></div></div>
    {% else %}
        {% for currentItem in item.children %}
            {% set item = currentItem %}
            {{ block('item')}}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block label %}{{ item.label|trans }}{% endblock %}


{# segundo nivel #}
{% block inneritem %}
    {% import "knp_menu.html.twig" as macros %}
    {% if item.displayed %}
        {%- set attributes = item.attributes %}
        {%- set is_dropdownmenu = attributes.dropdownmenu|default(false) %}
        {%- set is_dropdown = attributes.dropdown|default(false) %}
        {%- set divider_prepend = attributes.divider_prepend|default(false) %}
        {%- set divider_append = attributes.divider_append|default(false) %}

        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.depth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
        

        {%- if is_dropdown %}
            {{ block('dropdownElement') }}
        {%- elseif is_dropdownmenu %}
            {{ block('dropdownMenu') }}
        {%- else %}
            {{ block('linkElement') }}
        {% endif %} 
    {% endif %}
{% endblock %}


{% block innerchildren %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
    {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
    {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}
    {% for item in currentItem.children %}
        {{ block('inneritem') }}
    {% endfor %}
    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}


{% block innerlist %}
    {{ block('innerchildren') }}
{% endblock %}

{% block linkElement %}
    <li {% if matcher.isCurrent(item) %} class="active" {% endif %} {% if matcher.isAncestor(item) %} class="current_ancestor" {% endif %}><a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
        {% if item.attribute('icon') is not empty  %}
            <i class="fa fa-2x fa-{{ item.attribute('icon') }}  {% if not matcher.isCurrent(item) %} icon-muted {% endif %}  v-middle"></i> 
        {% endif %}
        {{ block('label') }}
    </a></li>
{% endblock %}

{# seccion dropdowns #}
{% block dropdownitem %}
    {% import "knp_menu.html.twig" as macros %}
    {% if item.displayed %}
        {%- set attributes = item.attributes %}
        {%- set is_dropdownmenu = attributes.dropdownmenu|default(false) %}
        {%- set is_dropdown = attributes.dropdown|default(false) %}
        {%- set is_dropright = attributes.dropright|default(false) %}
        {%- set divider_prepend = attributes.divider_prepend|default(false) %}
        {%- set divider_append = attributes.divider_append|default(false) %}

        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.depth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
        
        {{ block('dropdownElement') }}

    {% endif %}
{% endblock %}

{% block dropdownchildren %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
    {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
    {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}
    {% for item in currentItem.children %}
        {{ block('dropdownitem') }}
    {% endfor %}
    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block dropdownlist %}
    {{ block('dropdownchildren') }}
{% endblock %}

{% block dropdownMenu %}
    {%- set classes = item.linkAttribute('class') is not empty ? [item.linkAttribute('class')] : [] %}
    {%- set classes = classes|merge(['dropdown-toggle']) %}
    {%- set attributes = item.linkAttributes %}
    {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    
    <li class="dropdown {% if matcher.isAncestor(item) %} current_ancestor {% endif %}"><a href="#" {{ macros.attributes(attributes) }} data-toggle="dropdown">{% if item.attribute('icon') is not empty  %}
            <i class="fa fa-2x fa-{{ item.attribute('icon') }}  icon-muted  v-middle"></i> 
        {% endif %}
        {{ block('label') }}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        {{ block('dropdownlist') }}
    </ul></li>

{% endblock %}

{% block dropdownElement %}
    {% if is_dropright %}
        <li class="dropdown-submenu">
            <a href="#"
                {% for attri ,valor in item.attributes %}
                    {{ attri }}="{{ valor }}"
                {% endfor %}
                data-toggle="dropdown"
            >
            <i class="fa fa-angle-right pull-right"></i> 
            {% if item.attribute('icon') is not empty  %}
                <i class="fa fa-{{ item.attribute('icon') }} pull-left"></i>
            {% endif %}{{ block('label') }}
            </a>
            <ul class="dropdown-menu">
                {{ block('dropdownlist') }}
            </ul>
        </li>
    {% else %}


       <li> <a href="{{ item.uri }}" {% for attri ,valor in item.attributes %} {{ attri }}="{{ valor }}"{% endfor %}>{% if item.attribute('icon') is not empty  %}
                <i class="fa fa-{{ item.attribute('icon') }} "></i> 
            {% endif %}
            {{ block('label') }}
        </a></li>
    {% endif %}
{% endblock %}


{# breadcrumb #}

{% block breadcrumbitem %}
    {% import "knp_menu.html.twig" as macros %}
    {% if item.displayed %}
        {%- set attributes = item.attributes %}
        {%- set is_dropdown = attributes.dropdown|default(false) %}
        {%- set divider_prepend = attributes.divider_prepend|default(false) %}
        {%- set divider_append = attributes.divider_append|default(false) %}

        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.depth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}

        {% if matcher.isCurrent(item) or matcher.isAncestor(item) %}
                {{ block('breadcrumbElement') }}
                {{ block('breadcrumblist') }}
        {% endif %}

    {% endif %}
{% endblock %}


{% block breadcrumbchildren %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
    {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
    {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}
    {% for item in currentItem.children %}
        {{ block('breadcrumbitem') }}
    {% endfor %}
    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block breadcrumblist %}
            {{ block('breadcrumbchildren') }}
{% endblock %}

{% block breadcrumbElement %}
    <li>
        {% if item.attribute('icon') is not empty  %}
            <i class="fa fa-{{ item.attribute('icon') }}"></i> 
        {% endif %}
        <span class="text-muted">{{ block('label') }}</span>
    </li>
{% endblock %}
