
    /**
     * @var string
     */
    const {{ entity|upper }}_CREATED = 'dhg_{{ bundle_name|lower }}.{{ entity|lower }}Created';
    /**
     * @var string
     */
    const {{ entity|upper }}_EDITED = 'dhg_{{ bundle_name|lower }}.{{ entity|lower }}Edited';
    /**
     * @var string
     */
    const {{ entity|upper }}_REMOVED = 'dhg_{{ bundle_name|lower }}.{{ entity|lower }}Removed';
    /**
     * @var string
     */
    const {{ entity|upper }}_REMOVED_VERIFICATION = 'dhg_{{ bundle_name|lower }}.{{ entity|lower }}RemovedVerification';
}