{% set options = [{id:entity.id,tipo:"ver",path:path('dhg_inventario_movimientoView')}] %}
{% if (entity.sistema is defined) and (entity.sistema) %}
{% else %}
    {% if is_granted(constant('DHG\\InventarioBundle\\Security\\InventarioPermissions::GESTIONARMOVIMIENTOS'), entity)  %}
        {% set options = options|merge([
            {id:entity.id,tipo:"borrar"},
            {path:path('dhg_inventario_movimientoEdit'),id:entity.id,tipo:"editar"}
            ])
        %}
    {% endif %}
{% endif %}
{% use 'DHGcoreBundle:Datatable:cellActionTemplate.html.twig' %}  
{{ block('main_content') }}