
dhg_{{ bundle_name|lower }}_{{ entityM }}List:
    pattern:  /{{ bundle_name|lower }}/{{ entity |lower}}
    defaults: { _controller: DHG{{ bundle_name }}Bundle:{{ entity }}:list }

dhg_{{ bundle_name|lower }}_{{ entityM }}Edit:
    pattern:  /{{ bundle_name|lower }}/{{ entity |lower}}/edit/{id}
    defaults: { _controller: DHG{{ bundle_name }}Bundle:{{ entity }}:edit, id:1 }

dhg_{{ bundle_name|lower }}_{{ entityM }}Remove:
    pattern:  /{{ bundle_name|lower }}/{{ entity |lower}}/remove/{id}
    defaults: { _controller: DHG{{ bundle_name }}Bundle:{{ entity }}:remove }

dhg_{{ bundle_name|lower }}_{{ entityM }}View:
    pattern:  /{{ bundle_name|lower }}/{{ entity |lower}}/view/{id}
    defaults: { _controller: DHG{{ bundle_name }}Bundle:{{ entity }}:remove }

dhg_{{ bundle_name|lower }}_{{ entityM }}Create:
    pattern:  /{{ bundle_name|lower }}/{{ entity |lower }}/create
    defaults: { _controller: DHG{{ bundle_name }}Bundle:{{ entity }}:createAjax}
