{% if accion.cantidad is defined -%}
	{% if accion.combustible is defined %}
		{{ accion.combustible|default("-")}}: {{ accion.cantidad|default("0") }} {{ accion.combustible.unidad.abbr|default("U") }}
	{% endif %}

{%- else -%}
	{% set texto = "" %}
	{% for movimiento in accion.movimientos %}
		{% set producto = movimiento.producto ~ ": " ~ movimiento.cantidad ~ " " ~ movimiento.producto.unidad.abbr %}
		{% set texto = texto ~ producto ~ "\n" %}
	{% endfor %}
	{% include 'DHGcoreBundle:Datatable:cellTextoLargo.html.twig' with {"titulo": "Productos Utilizados", "text":texto} %}
{%- endif %}