{% set options = [{id:entity.id,tipo:"ver",path:path('dhg_maquinaria_maquinariaView')}] %}
{% if is_granted(constant('DHG\\MaquinariaBundle\\Security\\MaquinariaPermissions::GESTIONARMAQUINAS'), entity) %}
    {% set options = options|merge([
        {id:entity.id,tipo:"borrar"},
        {path:path('dhg_maquinaria_maquinariaEdit'),id:entity.id,tipo:"editar"}
        ])
    %}
{% endif %}
{% use 'DHGcoreBundle:Datatable:cellActionTemplate.html.twig' %}  
{{ block('main_content') }}