{% extends 'DHGcoreBundle:Default:innerpageadmin.html.twig' %}

{% block innercontent %}
    <div class="panel-body" style ="padding: 30px">
        <div class="clearfix text-left">
            <span class="thumb-lg">
                {% if user.getAvatar() is not null %}
                    <img class="img-circle" src="{{ user.getAvatar().getWebPath() }}">
                {% else %}
                    <img class="img-circle" src="{{ asset('bundles/dhgcore/images/avatar.jpg') }}">
                {% endif %}
            </span>
            {% include 'DHGUserBundle:Modal:perfil.html.twig' with {noClose:true}%}
        </div>
    </div>

      {% if modularForm is defined %}
        <div class="container-form-block">
            <!--modalCrearContacto-->
            <div class="modal fade" id="modal-create">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            {% include ('DHGContactosBundle:Form:ContactoForm.html.twig') with { 
                                'modularForm': modularForm,
                                'formType': formType,
                                'form_action': form_action,
                                'form_title':"Contacto",
                                'form_submit_value': form_submit_value,
                                'form_class': form_class,
                                'form_show_at_init': form_show_at_init,
                            } %}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!--/modalCrearContacto-->
            <div class="div-for-ajax"></div>
        </div>
    {% endif %}
    <!--modalChangePassword-->
    {% if formPasswordType is defined %}
        <div class="modal fade" id="modal-change-password">
          <div class="modal-dialog">
             <div class="modal-content">
               <div class="modal-body">
                 {% include ('DHGcoreBundle:Form:modularForms.html.twig') with { 
                 'modularForm': modularFormPassword,
                 'formType': formPasswordType,
                 'form_action': formPassword_action,
                 'form_submit_value': formPassword_submit_value,
                 'form_class': formPassword_class,
                 'form_show_at_init': formPassword_show_at_init,
             } %}

               </div>
             </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!--/modalCambiarPassword-->
    {% endif %}
     <!--modalChangeAvatar-->
    {% if formAvatarType is defined %}
        <div class="modal fade" id="modal-change-avatar">
          <div class="modal-dialog">
             <div class="modal-content">
               <div class="modal-body">
                 {% include ('DHGcoreBundle:Form:modularForms.html.twig') with { 
                 'modularForm': modularFormAvatar,
                 'formType': formAvatarType,
                 'form_action': formAvatar_action,
                 'form_submit_value': formAvatar_submit_value,
                 'form_class': formAvatar_class,
                 'form_show_at_init': formAvatar_show_at_init,
             } %}

               </div>
             </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!--/modalCambiarAvatar-->
    {% endif %}
{% endblock %}

{% set showTemplate = _self %}{% set showForm = formType %}