{% extends 'DHGcoreBundle:Default:innerpageadmin.html.twig' %}
{% form_theme form _self %}

{% block innercontent %}

	<section class="panel">
		<header class="panel-heading"> Permisos	</header>
		<form role="form" action="{{form_action}}" method="post" {{ form_enctype(form) }} class="{{form_class}}" >
		<div class="table-responsive">
			<table class="table table-striped b-t text-sm text-left">
				<thead>
					<tr>
						<th>Permisos</th>
						{% for rol in roles %}
							<th>{{rol}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{{ form_widget(form) }}
				</tbody>
			</table>
			<footer class="panel-footer">
				<div class="row">
					<div class="col-sm-12 text-right"> 
		        		<button type="submit" class="btn btn-success btn-s-xs">{{form_submit_value}}</button>
					</div>
				</div>			
		    </footer>
		</div>
		</form>
		{% set showTemplate = _self %}{% set showForm = formType %}
	</section>

{% endblock %} {# innercontent #}


{% block form_row -%}
    <tr>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </tr>
{%- endblock form_row %}

{% block form_label -%}
    {% if label is not sameas(false) -%}
    <td>
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
     </td>
    {%- endif %}
{%- endblock form_label %}

{% block checkbox_widget %}

   <td> <input type="checkbox" {% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/> </td>

{% endblock checkbox_widget %}


{% block choice_widget_expanded %}

    {% if expanded %}
       {% set attr = attr|merge({'class': attr.class|default(horizontal_input_wrapper_class)}) %}
    {% endif %}
    
    {% for child in form %}
      {{ form_widget(child, {'horizontal_label_class': horizontal_label_class, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class, 'attr': {'class': attr.widget_class|default('')}}) }}
    {% endfor %}

{% endblock choice_widget_expanded %}

{% block javascripts %}  
<script type="text/javascript">{{ include('DHGUserBundle:Default:permisionDepends.js.twig') }}
	</script>
{% endblock %}