{% set options = [] %}
{% if sistema is defined and sistema == "0" %}
    {% set options = options|merge([
        {id:id,tipo:"borrar"},
        {path:path('dhg_user_roleedit'),id:id,tipo:"editar"}
        ])
    %}
{% endif %}
{% use 'DHGcoreBundle:Datatable:cellActionTemplate.html.twig' %}  
{{ block('main_content') }}