{% set options = [{id:entity.id,tipo:"ver",path:path('dhg_user_userview')}] %}
{% if is_granted(constant('DHG\\UserBundle\\Security\\UserPermissions::GESTIONARUSUARIOS'), entity) %}
    {% if entity.active %}
        {% set options = [
            {id:entity.id,tipo:"borrar",text:"Desactivar"},
            {path:path('dhg_user_useredit'),id:entity.id,tipo:"editar"},
            {path:path('dhg_user_userview'),id:entity.id,tipo:"ver"}
            ]
        %}
    {% else %}
        {% set options = [
            {id:entity.id,tipo:"borrar",text:"Activar"},
            {path:path('dhg_user_userview'),id:entity.id,tipo:"ver"}
            ]
        %}
    {% endif %}
{% endif %}
{% use 'DHGcoreBundle:Datatable:cellActionTemplate.html.twig' %}  
{{ block('main_content') }}