{% extends 'DHGContactosBundle:Modal:contacto.html.twig' %}

{% block header %}
	<span class="h2">{{user.username}}</span>
{% endblock %}
{% block content %}
	{% if content is not null %}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block extra %}
	<b>Email usuario: </b>{{ extra.email }}<br>
	<b>Roles: </b>{% for rol in extra.roles %} <span class="label bg-success">{{ rol }}</span>{% endfor %}<br>
{% endblock %}




