{% import _self as view %}

<div class="modal-header">
    {% if noClose is defined and noClose %}
    {% else %}
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    {% endif %}
    {% block header %}
    	<span class="h2">{{modalViewTitle}}</span>
    {% endblock %}
</div>
<div class="modal-body">
	{% block content %}
	    <span class="h3">{{modalViewContent}}</span>
	{% endblock %}
</div>
<div class="modal-anidada-container">
</div>
<div class="modal-footer text-center">
    {% block footer %}
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
    {% endblock %}
</div>

<script id="modal-js-block">
    {% block javascript %}
    {% endblock %}
</script>
{% macro link(iditem,ruta,texto) %}
    <button class="btn btn-xs btn-white">
        <a href="#" class="modal-anidada" data-content="{{ path(ruta) }}/{{iditem}}"> {{ texto }}</a>
    </button>
{% endmacro %}
