
<div class="modalConfirm-header">
    {% block header %}
    	<span class="h2">{{modalConfirmTitle}}</span>
    {% endblock %}
</div>
<div class="modalConfirm-body">
	{% block content %}
	    <span class="h3">{{modalConfirmText}}</span>
	{% endblock %}
</div>
<div class="modalConfirm-footer text-center">
    {% block footer %}
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-success btn-s-xs" id="{{modalConfirmID}}" href="{{modalConfirmUrlAction}}">{{modalConfirmSubmitValue}}</a>
    {% endblock %}
</div>

