<div class="modalView-header">
    {% block header %}
    	<span class="h2">{% if title is defined %}{{title}}{% else %} Error!{% endif %} </span>
    {% endblock %}
</div>
<div class="modalView-body">
	{% block content %}
	    <span class="h3">{{msg}}</span>
	{% endblock %}
</div>
<div class="modalView-footer text-center">
    {% block footer %}
		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    {% endblock %}
</div>

