<?php

namespace {{ namespace }}\Controller;

{% block use_statements %}
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Template;
use Symfony\Bundle\FrameworkBundle\Controller\Controller;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\HttpFoundation\Response;
use {{ bundle }}\Entity\{{ controller }};
use {{ bundle }}\Form\Form{{ controller }};
use {{ bundle }}\Model\{{ controller }}Table;
use {{ bundle }}\EntityManager\{{ controller }}Manager;
use Symfony\Component\EventDispatcher\EventDispatcher;
use {{ bundle }}\EventsListener\MenuEventsListener;
use {{ bundle }}\Security\{{ bundle_name }}Permissions;
use Symfony\Component\Security\Core\Exception\AccessDeniedException;
{% endblock use_statements %}

{% block class_definition %}
class {{ controller }}Controller extends Controller
{% endblock class_definition %}
{
{% block class_body %}

    /**
     * Presenta el listado de {{ entityM }}
     * @Template("{{ namespace }}:Default:{{ entityM }}List.html.twig")
     */
    public function listAction(Request $request){
        ${{ entityM }} = new {{ entity }}();
        if (false === $this->get('security.context')->isGranted({{ bundle_name }}Permissions::VER{{ entity|upper }}S, ${{ entityM }})) {
            throw new AccessDeniedException('No tiene acceso para ver {{ entity }}!');
        }
        $form = $this->get('form.factory')->create( $formType = new Form{{ entity }}(), ${{ entityM }});
        $form->render_required_asterisk = true;
        $showFormAtInit = false;
        if ($request->getMethod() == 'POST'){
            $form->bind($request);
            if ($form->isValid()){
                $um = new {{ entity }}Manager($this->getDoctrine()->getManager(), $this->container->get('event_dispatcher'));
                $error = [];
                if ($um->create{{ entity }}(${{ entityM }}, $error)){
                     $this->get('session')->getFlashBag()->add('success',sprintf('{{ entity }} "%s" creado exitosamente!', ${{ entityM }}->getNombre() ));
                }else{
                    foreach ($error as $key => $value) {
                        $this->get('session')->getFlashBag()->add('danger', $value);
                    }
                }
                return $this->redirect($this->generateUrl('dhg_{{ bundle_nameM }}_{{ entityM }}List'));
            }else{
                $showFormAtInit = true;
            }
        }

        $dataTable = $this->get('data_tables.manager')->getTable('{{ entity }}Table');
        $metaData = $dataTable->getMetaData();
        if ($response = $dataTable->ProcessRequest($request)) {
            return $response;
        }
        $result = array('dataTable' => $dataTable);
        if ($this->get('security.context')->isGranted({{ bundle_name }}Permissions::GESTIONAR{{ entity|upper }}S, ${{ entityM }})) {
            //Agrego menu
            $listener = new MenuEventsListener($this->container->get('event_dispatcher'),"{{ entity }}");
            $this->container->get('event_dispatcher')->addListener('dhg_core.menuConfigureMainMenu', array($listener, 'onMenuConfigureNavBarAddCreateItems'), -99);

            
              $result = array_merge($result, array(
                      'dataTable' => $dataTable,
                      'modularForm' => $form->createView(),
                      'formType' => $formType,
                      'form_action' => $this->generateUrl('dhg_{{ bundle_nameM }}_{{ entityM }}lList'),
                      'form_submit_value' => 'Crear',
                      'form_class' => 'form-horizontal add{{ entity }}s',
                      'form_show_at_init' => $showFormAtInit,
                      'dataTable_twigVars' => array(
                          'modalConfirmID' => $metaData['table']->id,
                          'modalConfirmTitle' => 'Atencion!',
                          'modalConfirmText' => 'Se procedera a eliminar la {{ entity }} seleccionada. Esta operacion no puede deshacerse.',
                          'modalConfirmSubmitValue' => 'Eliminar',
                          'modalConfirmUrlAction' => $this->generateUrl('dhg_{{ bundle_nameM }}_{{ entityM }}Remove',  array('id' => '#')),
                          'modalEditID' => 'edit'.$metaData['table']->id,
                       ),
                )
            );  
        }
        return $result;    
    }






    /**
     * Edita un elemento
     * 
     * @param Id ID del elemento
     */
    public function editAction($id){
        ${{ entityM }} = new {{ entity }}();
        if (false === $this->get('security.context')->isGranted({{ bundle_name }}Permissions::GESTIONAR{{ entity|upper }}S, ${{ entityM }})) {
              throw new AccessDeniedException('No tiene acceso para editar {{ entityM}}!');
        }
        $request = $this->getRequest();
        $em = $this->getDoctrine()->getManager();
        ${{ entityM }} = $em->getRepository('DHG{{ bundle_name }}Bundle:{{ entity }}')->find($id);
        if (${{ entityM }}){
          $form = $this->get('form.factory')->create( $formType = new Form{{ entity }}('Editar_{{ entityM }}'), ${{ entityM }});
          if ($request->getMethod() == 'POST'){
              $form->handleRequest($request);
              if ($form->isValid()){
                  $um = new {{ entity }}Manager($this->getDoctrine()->getManager(), $this->container->get('event_dispatcher'));
                  $error = [];
                  if ($um->edit{{ entity }}(${{ entityM }}, $error)){
                      $this->get('session')->getFlashBag()->add('success',sprintf('Clasificacion de producto "%s" editada exitosamente!', ${{ entityM }}->getNombre() ));
                  }else{
                      return new Response(implode($error,"<br>"),Response::HTTP_ACCEPTED);
                  }
                  return new Response("",Response::HTTP_OK);
              }
          }
          
          return new Response($this->renderView('DHGcoreBundle:Form:modularForms.html.twig',
              array(
                    'modularForm' => $form->createView(),
                    'formType' => $formType,
                    'form_action' => $this->generateUrl('dhg_{{ bundle_nameM }}_{{ entityM }}Edit'),
                    'form_title' => 'Editar '.${{ entityM }}->getNombre(),
                    'form_submit_value' => 'Aplicar cambios',
                    'form_class' => 'form-horizontal edit{{ entity }}',
                )
          ),Response::HTTP_CREATED);   
        }else{
           return new Response("No existe la {{ entity }}",Response::HTTP_INTERNAL_SERVER_ERROR);
        };
    }

    /**
     * Elimina un elemento
     * 
     * @param Id ID del elemento a eliminar
     */
    public function removeAction($id){
        ${{ entityM }} = new {{ entity }}();
        if (false === $this->get('security.context')->isGranted({{ bundle_name }}Permissions::GESTIONAR{{ entity|upper }}S, ${{ entityM }})) {
              throw new AccessDeniedException('No tiene acceso para eliminar {{ entityM }}!');
        }
        $em = $this->getDoctrine()->getManager();
        ${{ entityM }} = $em->getRepository('DHG{{ bundle_name }}Bundle:{{ entity }}')->find($id);
        if (!${{ entityM }}) {
            $this->get('session')->getFlashBag()->add('danger', sprintf('Error al eliminar {{ entity }} "%s". No existe. ', $id) );
        }else{
            $name = ${{ entityM }}->getNombre() ;
            $um = new {{ entity }}Manager($this->getDoctrine()->getManager(), $this->container->get('event_dispatcher'));
            $error = array();
            if ($um->removeVerification{{ entity }}(${{ entityM }}, $error)){
              if ($um->remove{{ entity }}(${{ entityM }}, $error)){
                  $this->get('session')->getFlashBag()->add('success',sprintf('{{ entity }} "%s" eliminada exitosamente!', $name));
              }else{
                  foreach ($error as $key => $value) {
                      $this->get('session')->getFlashBag()->add('danger', $value);
                  }
              }
            }else{
                foreach($error as $key => $val){
                   $this->get('session')->getFlashBag()->add('danger', sprintf('%s', $val) );
                }
            }
        }
        return $this->redirect($this->generateUrl('dhg_{{ bundle_nameM }}_{{ entityM }}lList'));
    }
    /**
    * Crea una {{ entityM }}. Si es un GET retorna el formulario, sino, si la creacion es exitosa, retorna un listado de las {{ entityM }}s
    * @return Formulario de creacion (200) si no hay parametros (POST) o los parametros no validan
    *    Forbidden (403) si no se tiene acceso
    *    Options (201) Si se creo la {{ entityM }} con exito (retorna el listado de entidades listo para poner en el select)
    *    Mensajes de Error (202) Si no se pudo crear por alguna cuestión
    *    Error de Servidor (500) Si sucede algun error del servidor
    */
    public function createAxajAction(){
        $request = $this->getRequest();
        $em = $this->getDoctrine()->getManager();
        ${{ entityM }} = new {{ entity }}();
        if (false === $this->get('security.context')->isGranted({{ bundle_name }}Permissions::GESTIONAR{{ entity|upper }}S, ${{ entityM }})) {
            throw new AccessDeniedException('No tiene acceso para crear {{ entityM }}s!');
        }
        $form = $this->get('form.factory')->create( $formType = new Form{{ entity }}("Nueva_{{ entityM }}s"), ${{ entityM }});
        $toR = null;
        if ($request->getMethod() == 'POST'){
            $form->handleRequest($request);
            if ($form->isValid()){
                $um = new {{ entity }}Manager($this->getDoctrine()->getManager(), $this->container->get('event_dispatcher'));
                $error = null;
                if ($um->create{{ entity }}(${{ entityM }}, $error)){
                    $toR = $this->getList();
                    $response = new Response($this->renderView('DHGcoreBundle:Form:formAjaxReturn.html.twig',
                        array(
                            'listado' => $toR,
                            'selected'=>${{ entityM }}
                            )
                        ),Response::HTTP_CREATED);
                    return $response;
                }else{
                    $toR=$error; 
                    $response = new Response($this->renderView('DHGcoreBundle:Form:formAjaxReturnError.html.twig',
                        array(
                            'error' => $toR,
                            )
                        ),Response::HTTP_ACCEPTED);
                    return $response;               
                }
            }else{
            }
        }
        return $this->render('DHGcoreBundle:Form:modularForms.html.twig',
            array(
                'modularForm' => $form->createView(),
                'formType' => $formType,
                'form_action' => $this->generateUrl('dhg_{{ bundle_nameM }}_{{ entityM }}Create'),
                'form_title' => 'Crear {{ entity }}',
                'form_submit_value' => 'Crear',
                'form_class' => 'form-horizontal',
                )
        ); 
    }
    /**
    * Retorna una lista de {{ entityM }}
    * @return array de {{ entityM }}
    */
    private function getList(){
        $em = $this->getDoctrine()->getManager();
        $repo = $em->getRepository('DHG{{ bundle_name }}Bundle:{{ entityM }}');
        $list = array();
        $query = $repo->createQueryBuilder('u')->orderBy('u.nombre', 'ASC')->getQuery();

        foreach($query->getResult() as $plu){
            $list[$plu->getId()]=$plu;
        }
        return $list;
    }











{% for action in actions %}
    {% if 'annotation' == format.routing -%}
    /**
     * @Route("{{ action.route }}")
     {% if 'default' == action.template -%}
     * @Template()
     {% else -%}
     * @Template("{{ action.template }}")
     {% endif -%}
     */
    {% endif -%}
    public function {{ action.name }}(
        {%- if action.placeholders|length > 0 -%}
            ${{- action.placeholders|join(', $') -}}
        {%- endif -%})
    {
        {% if 'annotation' != format.routing -%}
            {% if 'default' == action.template -%}
            return $this->render('{{ bundle }}:{{ controller }}:{{ action.name|slice(0, -6) }}.html.{{ format.templating }}', array(
                // ...
            ));
            {%- else -%}
            return $this->render('{{ action.template }}', array(
                // ...
            ));
            {%- endif %}
        {%- else -%}
            return array(
                // ...
            );
        {%- endif %}
    }

{% endfor -%}
{% endblock class_body %}
}
