{% form_theme modularForm 'DHGcoreBundle:Form:fields.html.twig' %}

{% from 'DHGcoreBundle::flash.html.twig' import session_flash %}
{{ form_errors(modularForm) }}
<form role="form" action="{{form_action}}" method="post" {{ form_enctype(modularForm) }} class="{{form_class}}" >
 {{ form_widget(modularForm._token) }}

  <fieldset>
    <legend>{{form_label(modularForm)}}</legend>
    <div class="row">
          {{ form_row(modularForm.nombre) }}
          {{ form_row(modularForm.clasificacion) }}
          {{ form_row(modularForm.anio) }}
          {{ form_row(modularForm.fabricante) }}
          {{ form_row(modularForm.modelo) }}
          {{ form_row(modularForm.fecha_compra) }}
          {{ form_row(modularForm.precio_compra) }}
          {{ form_row(modularForm.respuestos) }}
          {{ form_row(modularForm.con_motor) }}
          {{ form_row(modularForm.odometro) }}
          {{ form_row(modularForm.odometro_km) }}
          {{ form_row(modularForm.dominio) }}
          {{ form_row(modularForm.detalle) }}
          {{ form_row(modularForm.archivos) }}
    </div>
  </fieldset>
  {{form_rest(modularForm)}}
  <footer class="text-right bg-light lter">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      <button type="submit" class="btn btn-success btn-s-xs">{{form_submit_value}}</button>
  </footer>
</form>


{% set showTemplate = _self %}{% set showForm = formType %}
