{% form_theme modularForm 'DHGcoreBundle:Form:fields.html.twig' %}

    {% from 'DHGcoreBundle::flash.html.twig' import session_flash %}
    <form role="form" action="{{form_action}}" method="post" {{ form_enctype(modularForm) }} class="{{form_class}}" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">{{ modularForm.vars.name|humanize }}</h4>
        </div>
        <div class="modal-body">
            <section class="panel">
                <div class="panel-body">
                    <fieldset>
                        {{ form_widget(modularForm.Accion) }}
                        {{ form_row(modularForm.interno) }}
                        <div class="block_externo">
                            {{ form_row(modularForm.combustible) }}
                            {{ form_row(modularForm.precio) }}
                            {{ form_row(modularForm.cantidad) }}
                            {{ form_row(modularForm.proveedor) }}
                        </div>
                        <div class="block_interno" style="display:none">
                            {{ form_widget(modularForm.movimiento) }}
                        </div>
                    </fieldset>
                    {{form_rest(modularForm)}}
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button type="button" id="cancel-modal-button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success ">{{form_submit_value}}</button>
        </div>
    </form>
    {% set showTemplate = _self %}{% set showForm = formType %}
    {% javascripts 'bundles/dhgmaquinaria/js/repostajeFormScript.js'
         combine=true %}
        <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}
