
        $MenuAnidado->addChild(
                    $factory->createItem('{{ entity }}', array('route' => 'dhg_{{ bundle_name|lower }}_{{ entity|lower }}List'))
                            ->setExtra('orderNumber',10)
                            ->setAttribute('icon', 'cube')
                            ->setExtra('permission',array('permission'=>{{ bundle_name }}Permissions::VER{{ entity|upper }},'entity'=>new \DHG\{{ bundle_name }}Bundle\Entity\{{ entity }}()))
                    );