{% extends 'DHGcoreBundle:Default:tablelist.html.twig' %}
{% block tablelisttitle %}Acciones{% endblock %}
{% block modal_crear %}
    <!--modalCrearRepostaje-->
    {% if formRepostajeType is defined %}
        <div class="container-form-block">
            <div class="modal fade" id="modal-create-repostaje">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% include ('DHGMaquinariaBundle:Form:repostajeForm.html.twig') with { 
                            'modularForm': modularFormRepostaje,
                            'formType': formRepostajeType,
                            'form_action': formRepostaje_action,
                            'form_submit_value': formRepostaje_submit_value,
                            'form_class': formRepostaje_class,
                            'form_show_at_init': formRepostaje_show_at_init,
                            'form_title': form_title,
                        } %}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!--/modalCrearRepostaje-->
            <div class="div-for-ajax"></div>
        </div>
    {% endif %}

    {% if formMantenimientoType is defined %}
        <!--modalCrearMantenimiento-->
        <div class="container-form-block">
            <div class="modal fade" id="modal-create-mantenimiento">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% include ('DHGcoreBundle:Form:modularForms.html.twig') with { 
                            'modularForm': modularFormMantenimiento,
                            'formType': formMantenimientoType,
                            'form_action': formMantenimiento_action,
                            'form_submit_value': formMantenimiento_submit_value,
                            'form_class': formMantenimiento_class,
                            'form_show_at_init': formMantenimiento_show_at_init,
                        } %}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!--/modalCrearMantenimiento-->
            <div class="div-for-ajax"></div>
        </div>
    <!--modalCrearMantenimiento-->
    {% endif %}
{% endblock %}


{% block javascripts %}  
    {{ parent() }}
    {% if formRepostaje_show_at_init is defined %}
        {% if formRepostaje_show_at_init %}
            <script type="text/javascript"> 
            jQuery(document).ready(function() { 
                $('#modal-create-repostaje').modal('show');
            });
        </script>
      {% endif %}
    {% endif %}
    {% if formMantenimiento_show_at_init is defined %}
        {% if formMantenimiento_show_at_init %}
            <script type="text/javascript"> 
            jQuery(document).ready(function() { 
                $('#modal-create-mantenimiento').modal('show');
            });
            </script>
      {% endif %}
    {% endif %}
    <script> 
        urlProductoUnidad = '{{ path("dhg_inventario_productoGetProductUnit")}}/';
        urlProductoStock = '{{ path("dhg_inventario_productoGetStock")}}/';
        urlProductoPrecio = '{{ path("dhg_inventario_productoGetPrice")}}/';
        urlOdometro = '{{ path("dhg_maquinaria_accionGetOdometro")}}/';
    </script>
    {% javascripts 'bundles/dhgmaquinaria/js/maquinaOdometro.js'
            'bundles/dhginventario/js/productoUnidades.js'
        combine=true %}
        <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}