		
    const VER{{ entity|upper }} = 'inventario_ver_{{ entity|lower }}';
    const GESTIONAR{{ entity|upper }} = 'inventario_gestionar_{{ entity|lower }}';
		

		$supportedClasses[] = 'DHG\{{ bundle_name }}Bundle\Entity\{{ entity }}';

        $this->crearPermiso(InventarioPermissions::VER{{ entity|upper }},"{{ entity }}",false);
        $this->crearPermiso(InventarioPermissions::GESTIONAR{{ entity|upper }},"{{ entity }}",true,{{ bundle_name }}Permissions::VER{{ entity|upper }});
