{% form_theme modularForm 'DHGcoreBundle:Form:fields.html.twig' %}
    {% from 'DHGcoreBundle::flash.html.twig' import session_flash %}
    {{ form_errors(modularForm) }}
    <form role="form" action="{{form_action}}" method="post" {{ form_enctype(modularForm) }} class="{{form_class}}" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">{{ modularForm.vars.name|humanize }}</h4>
        </div>
        <div class="modal-body">
            <section class="panel">
                <div class="panel-body">
                    <fieldset>
                        {{ form_row(modularForm.nombre) }}
                        {{ form_row(modularForm.identificacion) }}
                        {{ form_row(modularForm.telefonos) }}
                        {{ form_row(modularForm.direcciones) }}
                        {{ form_row(modularForm.emails) }}
                        {{ form_row(modularForm.grupos) }}
                        {{ form_row(modularForm.escliente) }}
                        {{ form_row(modularForm.esproveedor) }}
                        {{ form_row(modularForm.esmecanico) }}
                        {{ form_row(modularForm.espersonal,{'attr':{'onChange':'$("#personalprice'~form_edditing~'").toggle(this.checked)'}})}}
                        <div id="personalprice{{form_edditing}}" {% if not modularForm.espersonal.vars.checked %}style="display: none;"{% endif %}>
                            {{ form_row(modularForm.clasification) }}
                            {{ form_row(modularForm.price_hour) }}
                            {{ form_row(modularForm.price_hour_extra) }}
                            {{ form_row(modularForm.price_kg) }}
                            {{ form_row(modularForm.price_ha) }}
                        </div>
                        {{ form_row(modularForm.details) }}
                        {{ form_rest(modularForm) }}
                    </fieldset>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button type="button" id="cancel-modal-button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success ">{{form_submit_value}}</button>
        </div>
    </form>
    <script>
    $(document).ready(function(){
        $(':checkbox[readonly=readonly]').click(function(){
            return false;        
        });
    });
    </script>