{% extends 'DHGcoreBundle:Default:tablelist.html.twig' %}

{% block tablelisttitle %}Contactos{% endblock %}

    {% block modal_crear %}
        {% if modularForm is defined %}
            <div class="container-form-block">
                <!--modalCrearContacto-->
                <div class="modal fade" id="modal-create">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            {% include ('DHGContactosBundle:Form:ContactoForm.html.twig') with { 
                                'modularForm': modularForm,
                                'formType': formType,
                                'form_action': form_action,
                                'form_submit_value': form_submit_value,
                                'form_class': form_class,
                                'form_show_at_init': form_show_at_init,
                            } %}
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!--/modalCrearContacto-->
                <div class="div-for-ajax"></div>
            </div>
        {% endif %}
    {% endblock %}
