{% extends 'DHGcoreBundle:Default:tablelist.html.twig' %}

{% block tablelisttitle %}Movimientos{% endblock %}



{% block javascripts %}
	{{ parent() }}
    <script>
        urlProductoUnidad = '{{ path("dhg_inventario_productoGetProductUnit")}}/';
        urlProductoStock = '{{ path("dhg_inventario_productoGetStock")}}/';
        urlProductoPrecio = '{{ path("dhg_inventario_productoGetPrice")}}/';
    </script>
    {% javascripts 'bundles/dhginventario/js/productoUnidades.js'
         combine=true %}
        <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}