{% extends 'DHGcoreBundle:Default:tablelist.html.twig' %}

{% block innercontent %}
	<header class="panel-heading bg-light">
		<ul class="nav nav-tabs nav-justified">
			<li class="active">
				<a href="#">Stock General</a>
			</li>
			<li class="">
				<a href="{{ path('dhg_inventario_stockAlmacenList') }}">Stock por Almacen</a>
			</li>
		</ul>
	</header>
	{{parent()}}
{% endblock %}
