{% macro showProper(attr) %}
    {% import _self as func %}
    {% if attr |is_array%}
    {% if attr.value is defined%}
    {# aca se deberia mostrar el link usando attr.id y attr.class #}
    {{ attr.value }}
    {% else %}
    {% for at in attr %}
        [{{func.showProper(at)}}]
    {% endfor %}
{% endif %}
{% else %}
{% if attr.timestamp is defined %}
    {{ attr|date('m/d/Y') }}
    {% else %}
    {{ attr }}
{% endif %}
{% endif %}
{% endmacro %}
{% macro getColor(accion) %}
    {% if accion == "EDIT" %}bg-warning
    {% endif %}
    {% if accion == "CREATE" %}bg-success
    {% endif %}
    {% if accion == "REMOVE" %}bg-danger
    {% endif %}
{% endmacro %}
{% import _self as func %}
{% for history in histories %}
    {% set classname = history.getResourceClass %}
    <article class="timeline-item {{ cycle(['alt', ''], loop.index0) }}">
        <div class="timeline-caption">
            <div class="panel">
                <header class="panel-heading {{func.getColor(history.accion)}}">
                    <span class="timeline-header"><i class="fa fa-{{ staticCall(classname, 'getResourceIcon') }}"></i> 
                        <strong>{{ staticCall(classname, 'getResourceEntityName') }}</strong></span>
                </header>
                <div class="panel-body">
                    <span class="arrow {{ cycle(['right', 'left'], loop.index0) }}"></span>
                    <span class="timeline-icon" >
                        <i class="fa fa-{{ staticCall(classname, 'getSeccionIcon') }} time-icon" style="color:white;background-color:{{ staticCall(classname, 'getResourceColor') }}">
                        </i>
                    </span>
                    <span class="timeline-date">{{history.getFecha|date("d/m/Y H:i")}}</span>
                    <h5>
                        <span>El usuario {{ history.getUsuario.getName }} {{ history.getAccion|human_accion }} el {{ history.getResourceName }}</span>
                    </h5>
                    {% set novacio = false %}
                        {% for key,cambio in history.getChangedData %}
                        {% set atra = key|human_attribute(classname) %}
                        {% if atra is not null %}
                            {% set novacio = true %}
                            {% endif %}
                        {% endfor %}
                        {% if novacio == true %}
                            Cambios realizados:
                            <ul>
                                {% for key,cambio in history.getChangedData %}
                                {% set attri = key|human_attribute(classname) %}
                                {% if attri is not null %}
                                    <li> <strong>{{attri}}:</strong> 
                                        {% if cambio.0 is not null %}
                                            de 
                                            {{ func.showProper(cambio.0) }}
                                            a
                                        {% endif %}
                                        {{ func.showProper(cambio.1) }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>       
            </div>
        </div>
    </article>
{% endfor %}