var pos = 0;
var cargando = false;
function cargarMas(){
    cargando = true;
    var url = '{{ path("dhg_entity_history_timelineAjax") }}/'+pos;
	$.get( url)
    .done(function( data ) {
        cargando = false;
		$( data ).insertBefore( "#timeline-footer" );
    });
    pos++;
}
jQuery(function($) {
    cargarMas()
    $('.scrollable').on('scroll', function() {
        if(!cargando&&$(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight-500) {
            cargarMas();
        }
    })
});