{% extends 'DHGcoreBundle:Default:innerpage.html.twig' %}
{% block innercontent %}
    <div id="timeline" class="timeline">
        <article class="timeline-item active">
            <div class="timeline-caption">
                <div class="panel bg-success lter no-borders">
                    <div class="panel-body">
                        <span class="timeline-icon"><i class="fa fa-history time-icon bg-success"></i></span>
                        <span class="timeline-date">Fecha actual</span>
                        <h5>
                            <span>Ultimo registro</span>
                        </h5>
                    </div>
                </div>
            </div>
        </article>
        <div id="timeline-footer" class="timeline-footer"><a href="#" onClick="cargarMas(this);"><i class="fa fa-plus time-icon inline-block bg-dark"></i> </a></div>
    </div>
{% endblock %} {# innercontent #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">{{ include('DHGEntityHistoryBundle:Default:timeline.js.twig') }}</script>
{% endblock %}
