{% extends 'DHGcoreBundle:Default:simplebase.html.twig' %}
{% from 'DHGcoreBundle::flash.html.twig' import session_flash %}
{% block body %}
	<section id="content" class="w-f m-t-lg wrapper-md animated fadeInUp">
		{% block flashes %}
			{% if app.session.flashbag.peekAll|length > 0 %}
			    <div class="row">
			        <div class="col-sm-12">
			        {{ session_flash() }}
			       </div>
			    </div>
		    {% endif %}
		{% endblock flashes %}
		<h1 class="text-center">Distribucion HG</h1>
		<h3 class="text-center">Sistema online para distribuidoras</h3>
		<div class="row m-n">
		  <div class="col-md-4 col-md-offset-4 m-t-lg">
		    <section class="panel">
		      <header class="panel-heading text-center"><h4>Login</h4></header>
				<form action="{{ path("dhg_user_logincheck") }}" method="post" class="panel-body">
				    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				    <div class="form-group">
				    	<label class="control-label" for="account">Cuenta</label>
				    	<input type="text" id="account" name="_account" required="required" class="form-control" />
				    </div>
				    <div class="form-group">
				    	<label class="control-label" for="username">Email/Username</label>
				    	<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
				    </div>
				    <div class="form-group">
				    	<label class="control-label" for="password">Contraseña</label>
				    	<input type="password" id="password" name="_password" required="required" class="form-control" />
				    </div>
				    
				   	<input class="btn btn-success pull-right" type="submit" id="_submit" name="_submit" value="Entrar" />
				   	
				   	<a href="#" class="m-t-xs"><small>¿Olvido la Contraseña?</small></a>
				</form>
				<div class="line line-dashed"></div>
	            <p class="text-muted text-center"><small>¿No tiene cuenta de usuario?</small></p>
	            <a href="register" class="btn btn-success btn-block">Crear nueva cuenta</a>
		    </section>
		  </div>
		</div>
	</section>

{% endblock body %} 
