{% extends 'DHGcoreBundle:Default:simplebase.html.twig' %}
{% from 'DHGcoreBundle::flash.html.twig' import session_flash %}
{% block body %}
	{% block flashes %}
		{% if app.session.flashbag.peekAll|length > 0 %}
			<div class="row">
				<div class="col-sm-12">
					{{ session_flash() }}
				</div>
			</div>
		{% endif %}
	{% endblock %}
	<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
		<h1 class="text-center">Distribucion HG</h1>
		<h3 class="text-center">Sistema online para distribuidoras</h3>
		<div class="row m-n">
			<div class="col-md-4 col-md-offset-4 m-t-lg">
				<section class="panel">
					<div class="modal-header">
						<h4>Nueva Cuenta</h4>
					</div>
					{% include('DHGcoreBundle:Form:modularForms.html.twig') with { 'noHeader':true } %}
					<div class="line line-dashed"></div>
					<p class="text-muted text-center"><small>¿Ya tiene cuenta de usuario?</small></p>
					<a href="login" class="btn btn-success btn-block">Ingresar</a>
				</section>
			</div>
		</div>
	</section>

{% endblock %} 
{% block javascripts %}
	<script>
	$(document).ready(function(e){

		$("form").submit(function( event ) {
			waitingDialog.show("Espere mientras el sistema crea la nueva cuenta");
		});
	});
	</script>
{% endblock %}
{% set showTemplate = _self %}{% set showForm = formType %}