{% set options = [{id:entity.id,tipo:"ver",path:path('dhg_contactos_contactoView')}] %}
{% if is_granted(constant('DHG\\ContactosBundle\\Security\\ContactosPermissions::GESTIONARCONTACTOS'), entity) %}
    {% set options = options|merge([
        {id:entity.id,tipo:"borrar"},
        {path:path('dhg_contactos_contactoEdit'),id:entity.id,tipo:"editar"}
        ])
    %}
{% endif %}
{% use 'DHGcoreBundle:Datatable:cellActionTemplate.html.twig' %}  
{{ block('main_content') }}