{% block extends %}
{{ "{% extends 'DHGcoreBundle:Default:tablelist.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block tablelisttitle %}" }}{{ entity}}{{ "{% endblock %}" }}
{% endblock body %}
