{% extends 'DHGcoreBundle:Default:base.html.twig' %}
{% block body %}
<section id="content">
    <div class="row m-n">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="text-center m-b-lg">
          <h1 class="h text-white animated bounceInDown">404</h1>
        </div>
        <div class="list-group m-b-sm bg-white m-b-lg">
          <a href="index.html" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-home text-muted"></i> Goto homepage
          </a>
          <a href="form.html" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-question text-muted"></i> Send us a tip
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <span class="badge">021-215-584</span>
            <i class="fa fa-fw fa-phone text-muted"></i> Call us
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


