   {% from 'DHGcoreBundle::flash.html.twig' import session_flash %}
    <!-- DOCTYPE html-->
    <html>
    <head>
	<meta charset="utf-8" />
	<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{% block title %}Distribucion HG{% endblock %}  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% stylesheets '@bootstrap_less' 
        'bundles/dhgcore/css/bootstrap.css'
        'bundles/dhgcore/css/animate.css'
        'bundles/dhgcore/css/font-awesome.min.css'
        'bundles/dhgcore/css/font.css'
        'bundles/dhgcore/css/plugin.css'
        'bundles/dhgcore/js/select2/select2.css'
        'bundles/dhgcore/js/fuelux/fuelux.css'
        'bundles/dhgcore/css/datepicker3.css'
        'bundles/dhgcore/css/datatables.css'
        'bundles/dhgcore/css/bootstrap-timepicker.css'
        'bundles/dhgcore/css/hover-min.css'
        'bundles/dhgcore/css/app.css'
        combine=true filter='cssrewrite' output='css/*.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
    <style type="text/css">
    .table-responsive{
        overflow-y: visible !important;
    }
    .dropdown {
      position: static;
    }
    </style>
    {% block stylesheets %}
    {% endblock %}
    {% javascripts '@jquery_js' 
        'bundles/dhgcore/js/bootstrap.js'
        'bundles/dhgcore/js/app.js'
        'bundles/dhgcore/js/app.plugin.js'
        'bundles/dhgcore/js/slimscroll/jquery.slimscroll.min.js'
        'bundles/dhgcore/js/fuelux/fuelux.js'
        'bundles/dhgcore/js/datepicker/bootstrap-datepicker.js'
        'bundles/dhgcore/js/slider/bootstrap-slider.js'
        'bundles/dhgcore/js/collections/mopabootstrap-collection.js'
        'bundles/dhgcore/js/parsley/parsley.extend.js'
        'bundles/dhgcore/js/parsley/parsley.min.js'
        'bundles/dhgcore/js/select2/select2.min.js'
        'bundles/dhgcore/js/bootstrap-waitingfor.js'
        'bundles/dhgcore/js/bootstrap-timepicker.js'
        'bundles/dhgcore/js/mask/jquery.maskedinput.js'
        'bundles/dhgcore/js/leftMenuOnStart.js'
        'bundles/dhgcore/js/datatables/jquery.dataTables.min.js'
        'bundles/dhgcore/js/datatables/dataTables.buttons.min.js'
        'bundles/dhgcore/js/datatables/date-eu.js'
        combine=true output="js/basic.js"%}
        <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    {% block javascripts %}
    {% endblock %}

    </head>
    <body>
        <section class="vbox">
            {% include('DHGcoreBundle:Default:header.html.twig') %}
            <section class "w-f">
                <section class="hbox stretch">
                    {% include('DHGcoreBundle:Default:leftnavbar.html.twig') %}
                    <section>
                        <section class="hbox stretch">
                            {% set menuItem = knp_menu_get('MainMenu', ['sub_action_menu']) %}
                            {{ knp_menu_render(menuItem, {'template': 'DHGcoreBundle:Menu:knp_subactionmenu.html.twig'}) }}
                            <aside>
                                <section class="vbox">
                                    <section class="scrollable wrapper" id="content">
                                        {% block topSection %}
                                        {% endblock topSection %}
                                        {% block flashes %}
                                            {% if app.session.flashbag.peekAll|length > 0 %}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        {{ session_flash() }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endblock flashes %}
                                        <section class="hbox stretch">
                                            <aside class="bg-liht-only">
                                                {% block body %}
                                                {% endblock %}
                                            </aside>
                                            {% block rightAside %}{% endblock %}
                                        </section>
                                    </section>
                                </section>
                            </aside>
                        </section>
                    </section>
                </section>
            </section>
            {% include('DHGcoreBundle:Default:footer.html.twig') %}
        </section><!-- /vbox -->
   </body>
</html>