<footer class="page-footer font-small fixed-bottom pt-4">
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
		Distribucion HG - Sistema online para distribuidoras.
    </div>
</footer>