{% extends 'DHGcoreBundle:Default:base.html.twig' %}
{% block body %}


<section class="panel no-borders hbox">
                <aside class="bg-primary dker clearfix lter r-r text-right v-middle">
                  <div class="wrapper h3 font-thin">
                    Bienvenido a Distribucion HG
                  </div>
                </aside>
              </section>

{% endblock body%}
