{% extends 'DHGcoreBundle:Default:base.html.twig' %}
{% block body %}
    <header>
    	{% block innerheader %}
                {{ knp_menu_render('MainMenu', {'currentClass': 'active', 'template': 'DHGcoreBundle:Menu:knp_innerheadermenu.html.twig'}) }}
            
    	{% endblock %} {#innerheader#} 
        {% block acciones %}
            <div class="wrapper font-bold">
                {% block action_buttons %}
                    {% set menuItem = knp_menu_get('MainMenu', ['action_menu']) %}
                    {{ knp_menu_render(menuItem, {'currentClass': 'active', 'template': 'DHGcoreBundle:Menu:knp_actionmenu.html.twig'}) }} 
                {% endblock %} {# /action_buttons #}
            </div>
        {% endblock %}
    </header>
	{% block innercontent %}
	{% endblock %} {#innercontent#} 
{% endblock %} {#body#} 