{% from 'DHGcoreBundle::flash.html.twig' import session_flash %}

{% if app.session.flashbag.peekAll|length > 0 %}
    <div id="flashMessages" class="row" hidden>
        <div class="col-sm-12">
        {{ session_flash() }}
       </div>
    </div>
{% endif %}
