<aside class="aside bg-light dk" id="nav">
    <section class="vbox">
        <section class="scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px">
                <nav class="nav-primary hidden-xs" data-ride="collapse">
                    {{ knp_menu_render('MainMenu', {'currentClass': 'active', 'template': 'DHGcoreBundle:Menu:knp_leftmenu.html.twig','ancestorClass':'active'}) }}
            </div>
        </section>
    </section>
</aside>
{{ knp_menu_render('MainMenu', {'currentClass': 'active', 'template': 'DHGcoreBundle:Menu:knp_leftsubmenu.html.twig','ancestorClass':'active'}) }}
{% block leftnavbar %}     
{% endblock %}  