<!-- DOCTYPE html-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{% block title %}Distribucion HG{% endblock %}  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% stylesheets '@bootstrap_less' combine=true filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/dhgcore/css/bootstrap.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/dhgcore/css/font-awesome.min.css') }}" type="text/css"  media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/dhgcore/css/font.css') }}" type="text/css" cache="false" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/dhgcore/css/app.css') }}" type="text/css" media="all" />
    {% endstylesheets %}
    {% block stylesheets %}

    {% endblock %}
    {% javascripts '@jquery_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Bootstrap -->
    <script src="{{ asset('bundles/dhgcore/js/bootstrap.js') }}"></script>


    <!-- app -->
    <script src="{{ asset('bundles/dhgcore/js/app.js') }}"></script>

    <!--SlimScroll-->
    <script src="{{ asset('bundles/dhgcore/js/slimscroll/jquery.slimscroll.min.js') }}" cache="false"></script>
    <script src="{{ asset('bundles/dhgcore/js/bootstrap-waitingfor.js') }}" cache="false"></script>

    {% block javascripts %}

    {% endblock %}


</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
