{% extends 'DHGcoreBundle:Default:innerpageadmin.html.twig' %}
{% block innercontent %}
        {% set count = 0 %}
        {% set dataColumns = [] %}
        {# Columnas ocultas por el usuario #}
        {% set userHiddenCols = app.user.getTablaColumnas(dataTable.metadata.table.id) %}
        {# Obtengo las columnas ocultas por defecto si existen #}
        {% set defaultHiddenCols = [] %}
        {% if dataTable_twigVars.defaultHiddenCol is defined %}
            {% set defaultHiddenCols = dataTable_twigVars.defaultHiddenCol %}
        {% endif %}
        {# Consulto si hay columnas que no se pueden ocultar#}
        {% set noHidenCols = [] %}
        {% if dataTable_twigVars.noHidenCols is defined %}
            {% set noHidenCols = dataTable_twigVars.noHidenCols %}
        {% endif %}
        {# Consulto si hay columnas con formato de fecha #}
        {% set dateFilterCols = [] %}
        {% if dataTable_twigVars.dateFilterCols is defined %}
            {% set dateFilterCols = dataTable_twigVars.dateFilterCols %}
        {% endif %}
        {# Consulto si hay columnas con formato de fecha #}
        {% set noFilteredCols = [] %}
        {% if dataTable_twigVars.noFilteredCols is defined %}
            {% set noFilteredCols = dataTable_twigVars.noFilteredCols %}
        {% endif %}
        {% set defaultFilterSet = [] %}
        {% if dataTable_twigVars.defaultFilterSet is defined %}
            {% set defaultFilterSet = dataTable_twigVars.defaultFilterSet %}
        {% endif %}
        {% for column in dataTable.columns %}
            {% set thisColumName = dataTable.metadata.columns[count].source %}
            {% set thisIsHidden = ((count in defaultHiddenCols) or (thisColumName in userHiddenCols)) %}
            {% set thisCanHidden = (count not in noHidenCols) %}
            {% set thisIsDateFilter = (count in dateFilterCols) %}
            {% set thisCanFilter = (count not in noFilteredCols) and (column != "Accion") %}
            {% if defaultFilterSet.count is defined %}
                {% set thisFilter =  defaultFilterSet[count] %}
            {% else %}
                {% set thisFilter =  [] %} 
            {% endif %}
            {% set thisCol = {
                    Number: count, 
                    Name: column,
                    isDateFilter:thisIsDateFilter,
                    MetaName:thisColumName,
                    isHidden:thisIsHidden,
                    canHidden:thisCanHidden,
                    isFiltered:[],
                    sumColumn:[],
                    canFilter:thisCanFilter
                } 
            %}
            {% set dataColumns = dataColumns|merge([thisCol]) %}
            {% set count = count+1 %}
        {% endfor %}

        <section class="panel">

            {% include 'DHGcoreBundle:Datatable:tablefilters.html.twig' with {'dataColumns':dataColumns} %}
        </section>
        {% block upperTable %}
        {% endblock %}
        <section class="panel">
            {% if dataTable_twigVars is defined %}
                {% set dataTable_twigVars = dataTable_twigVars|merge({'dataColumns':dataColumns })%}
                {{ addDataTable(dataTable, {'table_template' : 'DHGcoreBundle:Datatable:table.html.twig', 'script_template' : 'DHGcoreBundle:Datatable:tablescript.html.twig', 'twigVars' : dataTable_twigVars } ) }}
            {% else %}
                {{ addDataTable(dataTable, {'table_template' : 'DHGcoreBundle:Datatable:table.html.twig', 'script_template' : 'DHGcoreBundle:Datatable:tablescript.html.twig' } ) }}
            {% endif %}
        </section> {# panel #}
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    {% block modal_crear %}
        {% if formType is defined %}
            {% if ocultar_crear is not defined %}
                <div class="container-form-block">
                    <div class="modal fade" id="modal-create">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% block modalcreatebody %}
                                        {% include('DHGcoreBundle:Form:modularForms.html.twig') %}
                                    {% endblock %}
                                </div>
                            </div>{# /.modal-content  #}
                        </div>{# /.modal-dialog  #}
                    </div>{# /modalCrear  #}
                    <div class="div-for-ajax"></div>
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}{# /modal_crear #}
    {% block modal_extra %}
    {% endblock %} {# modal_extra #}
{% endblock %} {# innercontent #}
{% block javascripts %}
    {{ parent() }}
    {% if form_show_at_init is defined %}
        {% if form_show_at_init %}
            <script type="text/javascript">
            jQuery(document).ready(function() {
                $('#modal-create').modal('show');
            });
            </script>
        {% endif %}
    {% endif %}
    <script>
        metadatatableid = '{{ dataTable.metadata.table.id }}';
        colroute = "{{ path('dhg_user_usercol') }}";
        showFlashPath = '{{ path("dhg_core_showFlash") }}';
        tableId = '{{ dataTable.metadata.table.id }}';
    </script>
    {% javascripts 'bundles/dhgcore/js/datatables/tableFilterController.js'
        'bundles/dhgcore/js/datatables/tableFiltersScript.js'
        'bundles/dhgcore/js/tableScript.js'
        combine=true output="js/tablelist.js" %}
        <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}