<?php

namespace DHG\{{ bundle_name }}Bundle\Controller;

use DHG\coreBundle\Controller\DefaultController;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\HttpFoundation\Response;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Template;


use DHG\{{ bundle_name }}Bundle\Entity\{{ entity }};
use DHG\{{ bundle_name }}Bundle\Form\Form{{ entity }};
use DHG\{{ bundle_name }}Bundle\Model\{{ entity }}Table;
use DHG\{{ bundle_name }}Bundle\EntityManager\{{ entity }}Manager;
use DHG\{{ bundle_name }}Bundle\EventsListener\MenuEventsListener;
use DHG\{{ bundle_name }}Bundle\Security\{{ bundle_name }}Permissions;


class {{ entity }}Controller extends DefaultController {
    /**
     * @Template("DHGcoreBundle:Default:tablelist.html.twig")
     */
    public function listAction(Request $request){
        $this->iniciarVariables();
        $this->autoGenerateVars();
        return $this->defListAction($request);
 
    }

    /**
    * Edita un elemento
    * 
    * @param Id ID del elemento
    *
    */
    public function editAction($id){
        $this->iniciarVariables();
        $this->autoGenerateVars();
        return $this->defEditAction($id);
    }

    /**
     * Elimina un elemento
     * 
     * @param Id ID del elemento a eliminar
     */
    public function removeAction($id){
        $this->iniciarVariables();
        $this->autoGenerateVars();
        return $this->defRemoveAction($id);
    }

    /**
    * Crea una entidad. Si es un GET retorna el formulario, sino, si la creacion es exitosa, retorna un listado de las entidades
    * @return Formulario de creacion (200) si no hay parametros (POST) o los parametros no validan
    *    Forbidden (403) si no se tiene acceso
    *    Options (201) Si se creo la entidad con exito (retorna el listado de entidades listo para poner en el select)
    *    Mensajes de Error (202) Si no se pudo crear por alguna cuestión
    *    Error de Servidor (500) Si sucede algun error del servidor
    */
    public function createAjaxAction(){
        $this->iniciarVariables();
        $this->autoGenerateVars();
        return $this->defCreateAjaxAction();
    }

    /**
    * Retorna una lista de entidades
    * @return array de entidades
    */
    private function getList(){
        $this->iniciarVariables();
        $this->autoGenerateVars();
        return $this->defGetList();
    }

    public function iniciarVariables(){
        $this->namespace    = "{{ namespace }}";
        $this->name         = "{{ entity }}";
        $this->route         = "dhg_{{ bundle_name|lower }}_";
    }
}
